
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss%}
	<link rel="stylesheet" type="text/css" href="{% static '/css/error/error.css' %}">
{% endblock %}

{% block middleside %}
	<div>
		<article>
			<h2>404</h2>
			<p>oops, sorry we can't find that page!</p>
			<footer>
				Either something went wrong or web page doesn't exist anymore
			</footer>
			<a href="{% url 'login:main' %}">
				<button class="btn btn-primary btn-home">
					Home Page
				</button>
			</a>
		</article>
	</div>
{% endblock %}