<table class="layer-footer" style="border-collapse: collapse; width: 100%; border-bottom: 1px solid silver; box-shadow: 2px 1px 1px rgba(82,124,162,0.9);">
	<tr>
		<td style="padding : 10px; font-size: 0.7rem; font-weight: normal; font-family: Arial, Helvetica, sans-serif;	text-align: center; color : rgba(82,124,162,0.9);">
			{% now 'Y' %} SKBerge Peru &copy; All rights reserved
		</td>
	</tr>
</table>