
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}
	 
	 <link rel="stylesheet" href="{% static '/css/reservas_sala.css' %}">
{% endblock %}

{% block container %}
	<div class="layerTitle">
		<h3>Modulo {{title}} </h3>
	</div>
	<div class="layerData" id="vContainer">
		<template>
			<div class="layerFields">
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label for="">Sala</label>
							<input type="text" 
								class="form-control form-control-lg"
								v-model="sala">

							{% comment %}
								<el-select v-model="sala" 
									placeholder="Seleccione"
									
									filterable
									clearable>
								    <el-option
								      v-for="item in list.list_salas"
								      :key="item.id"
								      :label="item.value"
								      :value="item.id">
								    </el-option>
								</el-select>
							{% endcomment %}
						</div>	
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="">Planta / Piso</label>
							<el-select v-model="planta" 
								placeholder="Seleccione"
								
								filterable
								clearable>
							    <el-option
							      v-for="item in list.list_plantas"
							      :key="item.id"
							      :label="item.value"
							      :value="item.id">
							    </el-option>
							</el-select>
						</div>	
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="">Estado</label>
							<el-select v-model="estado" 
								placeholder="Seleccione"
								
								filterable
								clearable>
							    <el-option
							      v-for="item in list.list_estados"
							      :key="item.id"
							      :label="item.value"
							      :value="item.id">
							    </el-option>
							</el-select>
						</div>	
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-6 col-md-3 col-lg-3">
						<button class="btn btn-primary btn-block" 
							@click.prevent="getSearch">
							<i class="fas fa-search"></i>
							Buscar
						</button>
					</div>
					<div class="col-12 col-sm-6 col-md-3 col-lg-3">
						<button class="btn btn-success btn-block" 
							@click.prevent="showDialog">
							<i class="fas fa-plus-circle"></i>
							Agregar Sala
						</button>
					</div>
					<div class="col-12 col-sm-6 col-md-3 col-lg-3">
						<button class="btn btn-warning btn-block" 
							@click.prevent="cleanFields">
							<i class="fas fa-backspace"></i>
							Limpiar Campos
						</button>
					</div>
				</div>
			</div>
			<div class="layerTable">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>ID</th>
							<th>Descripcion</th>
							<th>Planta / Piso</th>
							<th>Capacidad</th>
							<th>Fch. Vigencia</th>
							<th>Fh. Ingreso</th>
							<th>Usuario</th>
							<th>Fh. Modif.</th>
							<th>Usu. Modif</th>
							<th>Estado</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in lst_items">
							<td>
								<button type="button" 
									@click.remove="removeMeta(item)"
									class="btn btn-danger "
									title="Eliminar">
									<i class="fas fa-minus-circle"></i>
								</button>
								<button type="button" 
									@click.remove="modifyMeta(item)"
									class="btn btn-info "
									title="Modificar">
									<i class="fas fa-pen-square"></i>
								</button>
							</td>
							<td v-text="item.id"></td>
							<td > 
								${item.descripcion}
							</td>
							<td > 
								${item.planta ? item.planta.descripcion:''}
							</td>
							<td v-text="item.limite_participantes"></td>
							<td >
								${item.fecha_vigencia| format("DD/MM/Y")}
							</td>
							<td >
								${item.fhregistro| format("DD/MM/Y HH:MM:ss")}
							</td>
							<td>
								${item.username ? item.username:''}
							</td>
							<td >
								${item.fhmodificacion| format("DD/MM/Y HH:MM:ss")}
							</td>
							<td>
								${item.username_modif ? item.username_modif:''}
							</td>
							<td > 
								${item.estado ? item.estado.descripcion:''}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="summary">
				<div>
					<span>Total Activos :</span>
					<label>${totales.habilitados}</label>
				</div>
				<div>
					<span>Total No Activos :</span>
					<label>${totales.nohabilitados}</label>
				</div>
				<div>
					<span>Total Registros :</span>
					<label>${totales.filas}</label>
				</div>
			</div>
		</template>
	</div>
	<div id="vModal">
		<template>
			{% include 'reservas/forms/form_sala.html' %}
		</template>
	</div>

{% endblock %}

{% block additionaljs %}
	
	<script type="text/javascript">
		
		const URI_HOME = window.location.pathname ;
		const URI_ESTADO = "{% url 'apiv1:metas_obtener_estados' %}";
		const URI_SALAS = "{% url 'apiv1:catalogos_obtener_salas' %}";
		const URI_PLANTAS = "{% url 'apiv1:catalogos_obtener_plantas' %}";
		const URI_EMPLEADOS = "{% url 'apiv1:metas_obtener_empleados' %}";
		
	</script>
	<script src="{% static '/js/reservas_sala.js' %}"></script>
{% endblock %}