
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalmeta %}
	<meta name="mobile-web-app-capable" content="yes">
{% endblock %}	

{% block additionalcss %}
	 
	 <link rel="stylesheet" href="{% static '/css/reservas_programacion.css' %}">
{% endblock %}

{% block container %}
	<div class="layerTitle">
		<h3>Modulo {{title}} </h3>
	</div>
	<div class="layerData" id="vContainer">
		<template>
			<section class="layerFields" v-if="fields_display==false">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-4 col-lg-3">
						<div class="form-group">
							<label for="">Fecha</label>
							<el-date-picker
						      	  v-model="fecha"
							      type="date"
							      placeholder="Seleccione Fecha"
							      format="dd/MM/yyyy"
								  value-format="yyyy-MM-dd"
								  name="fecha"
								  :disabled="fields_status"
						      >
						</div>	
					</div>
					<div class="col-12 col-sm-12 col-md-4 col-lg-4">
						<div class="form-group">
							<label for="">Planta / Piso</label>
							<el-select v-model="planta" 
								placeholder="Seleccione"
								
								:disabled="fields_status"
								clearable>
							    <el-option
							      v-for="item in list.list_plantas"
							      :key="item.id"
							      :label="item.value"
							      :value="item.id">
							    </el-option>
							</el-select>
						</div>	
					</div>
					<div class="col-12 col-sm-12 col-md-4 col-lg-4">
						<div class="form-group">
							<label for="">Sala</label>
							<el-select v-model="sala" 
								placeholder="Seleccione"
								multiple
	    						collapse-tags
								:disabled="fields_status"
								clearable>
							    <el-option
							      v-for="item in list.list_salas"
							      :key="item.id"
							      :label="item.value"
							      :value="item.id">
							    </el-option>
							</el-select>
						</div>	
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-12 col-md-4 col-lg-3 mt-1">
						<button class="btn btn-primary btn-block" 
							@click.prevent="handleSearch">
							<i class="fas fa-search"></i>
							Buscar
						</button>
					</div>
					<div class="col-12 col-sm-12 col-md-4 col-lg-3 mt-1">
						<button class="btn btn-warning btn-block" 
							@click.prevent="handleCleanFields"
							:disabled="fields_status">
							<i class="fas fa-backspace"></i>
							Limpiar Campos
						</button>
					</div>
				</div>
			</section>
			<div class="layerCheck">
				<section>
					<div class="row">
						<div class="col-12 col-sm-4 col-md-6 col-lg-3 pt-2 pl-10"
							v-if="current_room==null">
								<el-checkbox v-model="fields_display">
									OCULTAR FILTROS
								</el-checkbox>
						</div>
						<div class="col-12 col-sm-4 col-md-6 col-lg-3"
							v-if="current_room==null">
							<div class="form-group">
								<label for="">Actualizar cada :</label>
								<el-select v-model="intervalo" 
									placeholder="Seleccione"
									clearable>
								    <el-option
								      v-for="item in list.list_intervals"
								      :key="item.id"
								      :label="item.value"
								      :value="item.id">
								    </el-option>
								</el-select>
							</div>	
						</div>
						<div class="col-12 col-sm-4 col-md-6 col-lg-3">
							<label class="currentTime" v-text="current_time"></label>
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-3 mt-3">
							<div class="legend">
								<span>
									<label class="descrip">Disponible : </label>
									<p class="signal green"></p>
								</span>
								<span>
									<label class="descrip">Reservado : </label>
									<p class="signal red"></p>
								</span>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="layerTable">
				<table 
					class="table table-hover" 
					v-if="details.headers">
					<thead>
						<tr>
							<th v-for="header in details.headers" >
								${header["descripcion"]}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(r,rindex) in details.schedules">
							<td 
								v-for="(c,cindex) in details.headers" 
								v-bind:class="StyleRowStatus(c.id,rindex)"
								:title="TitleRowStatus(c.id,rindex)" >
								<label v-if="c.id==0">
									${details.schedules[rindex].time_value}
								</label>
								<label class="item-responsable" 
									v-if="c.id!=0 && details.rows[c.id][rindex].reserva_id" >
									<i class="fas fa-user-tie"></i>
									${details.rows[c.id][rindex].solicitante}
								</label>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="summary">
				<div>
					<span>Total Registros :</span>
					<label>${totales.filas}</label>
				</div>
			</div>
		</template>
	</div>

{% endblock %}

{% block additionaljs %}

	<script type="text/javascript">
		
		const URI_HOME = window.location.pathname ;
		const URI_SALAS = "{% url 'apiv1:catalogos_obtener_salas' %}";
		const URI_PLANTAS = "{% url 'apiv1:catalogos_obtener_plantas' %}";

		var idefault = 3 ;

		{% if w_idsala  %}
			var sdefault = {{w_idsala}} ;
			setTimeout(function(){
				$('.collapse-menu').click();
			},500) ;
		{% else %}	
			var sdefault = null;
		{% endif %}
		window.XMLHttpRequest = oldxhr ;
		
	</script>
	<script src="{% static '/js/reservas_programacion.js' %}"></script>
{% endblock %}