{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}
	 <link rel="stylesheet" 
	 	href="{% static '/css/reservas_validation.css' %}">

{% endblock %}

{% block container %}
	{% if content.confirmation_type == 'accept'  %}
		<section class="layer-confirmation approved">
	{% elif content.confirmation_type == 'anticipation' %}
		<section class="layer-confirmation anticipation">
	{% elif content.confirmation_type == 'reject' %}
		<section class="layer-confirmation rejected">
	{% endif %}
			<article>
				{% if content.confirmation_type == 'accept'  %}
					<h1>
						<i class="fas fa-calendar-check approved"></i>
						Confirmaci&oacuten de Aprobación
					</h1>
					<p>
						Se ha procedido con la aprobación de la reserva detallada líneas siguientes :<br>
						<b>Sala / Piso</b> : {{content.reserva.sala.descripcion}}, {{content.reserva.planta.descripcion}} <br>
						<b>Fecha y Hora </b> : {{content.reserva.hora_inicio}} - {{content.reserva.hora_final}}
					</p>
				{% elif content.confirmation_type == 'anticipation' %}
					<h1>
						<i class="fas fa-calendar-check anticipation"></i>
						Confirmaci&oacuten de Cierre Anticipado
					</h1>
					<p>
						Se ha procedido con el cierre anticipado de la reserva detallada líneas siguientes :<br>
						<b>Sala / Piso</b> : {{content.reserva.sala.descripcion}}, {{content.reserva.planta.descripcion}} <br>
						<b>Fecha y Hora </b> : {{content.reserva.hora_inicio}} - {{content.reserva.hora_final}}
					</p>
				{% elif content.confirmation_type == 'reject' %}
					<h1>
						<i class="fas fa-ban rejected"></i>
						Confirmaci&oacuten de Cancelación
					</h1>
					<p>
						Se ha procedido con la cancelación de la reserva detallada líneas siguientes :<br>
						<b>Sala / Piso</b> : {{content.reserva.sala.descripcion}}, {{content.reserva.planta.descripcion}} <br>
						<b>Fecha y Hora </b> : {{content.reserva.hora_inicio}} - {{content.reserva.hora_final}}
					</p>
				{% endif %}
				<footer>
					Si tiene alguna duda u observaci&oacuten favor no dude en contactarse al siguiente email : <b>sistemas@skbergeperu.com.pe</b>
				</footer>
			</article>
	</section> 
{% endblock %}

{% block additionaljs %}
	<script type="text/javascript">
		setTimeout(function(){
			$('a.collapse-menu').click();
		},100)
	</script>
{% endblock %}