
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}
	
	 <link rel="stylesheet" href="{% static '/css/reservas_calendario.css' %}">
{% endblock %}

{% block container %}
	<div class="layerTitle">
		<h3>Modulo {{title}} </h3>
	</div>
	<div class="layerTabs"  id="vTabs">
		<p>
			<router-link to="/"> Reservaciones</router-link>
			<!-- <router-link 
				to="/reserva"> 
				Formulario 
			</router-link> -->
		</p>
		<router-view 
			@change-page="onChangePage" 
			@close-dialog="onCloseDialog"
			@refresh-employees="getEmpleados"
			@get-salas-allowed="getSalasByGrants"
			>
		</router-view>
	</div>

	<div id="container-requests">
		<div class="layerData" id="vContainer" >
			<div class="row layerFields">
				<form data-toggle="validator" role="form">
					<div class="form-row">
						<div class="form-group col-12 col-sm-6 col-md-4 col-lg-3">
							<label class="form-label"
								 for="">Sala / Motivo</label>
							<input 
								type="text" 
								class="form-control input-lg"  
								v-model = "descripcion"
								name="descripcion"
								autocomplete="off" 
								>
						</div>
						<div class="form-group col-12 col-sm-6 col-md-4 col-lg-3">
							<label class="form-label"
								 for="">Fecha Desde</label>
							<el-date-picker
							      v-model="fecha_desde"
							      type="date"
							      placeholder="Seleccione Fecha"
							      format="dd/MM/yyyy"
								  value-format="yyyy-MM-dd"
								  name="fecha_desde"
							      >
						    </el-date-picker>
						    <div v-if="hasError('fecha_desde')"
						    	class="alert alert-danger" 
						    	role="alert">Completar el campo</div>
						</div>
						<div class="form-group col-12 col-sm-6 col-md-4 col-lg-3">
							<label class="form-label"
								 for="">Fecha Hasta</label>
							<el-date-picker
							      v-model="fecha_hasta"
							      type="date"
							      placeholder="Seleccione Fecha"
							      format="dd/MM/yyyy"
								  value-format="yyyy-MM-dd"
								  name="fecha_hasta"
							      >
						    </el-date-picker>
						      <div v-if="hasError('fecha_hasta')"
						    	class="alert alert-danger" 
						    	role="alert">Completar el campo</div>
						</div>
						<div class="form-group col-12 col-sm-6 col-md-4 col-lg-3">
							<label
								class="form-label">Estado</label>
							<el-select v-model="estado" 
								placeholder="Seleccione"
								
								filterable
								clearable>
							    <el-option
							      v-for="item in list.list_estados"
							      :key="item.id"
							      :label="item.value"
							      :value="item.id">
							    </el-option>
							</el-select>
						</div>
					</div>
					<div class="form-row">
						<div class="col-12 col-sm-6 col-md-4 col-lg-2">
							<button class="btn btn-sm btn-primary btn-block" 
								@click.prevent="handleSearch">
								<i class="fas fa-search"></i>
								Buscar
							</button>	
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-2">
							<button class="btn btn-sm btn-warning btn-block" 
								@click.prevent="handleCleanFields">
								<i class="fas fa-backspace"></i>
								Limpiar Campos
							</button>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-2">
							<button class="btn btn-sm btn-success btn-block" 
									@click.prevent="handleNew">
									<i class="fas fa-plus-circle"></i>
									Agregar Reserva
							</button>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-2">
							<button class="btn btn-sm btn-danger btn-block" 
									@click.prevent="anularReserva">
									<i class="fas fa-ban"></i>
									Anular Reserva
							</button>
						</div>
					</div>
				</form>				
			</div>
			<div class="layerTable">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>
								<el-checkbox 
								 	v-model="check_all" 
								 	border
								 	title="Seleccionar todos"
								 	size="small"
								 	>
								 </el-checkbox>
							</th>
							<th></th>
							<th>Fecha</th>
							<th>Horario</th>
							<th>Sala</th>
							<th>Solicitante</th>
							<th>Motivo</th>
							<th>Estado</th>
							<th>Fh. Ingreso</th>
							<th>Fh. Modif.</th>
							<th>Usu. Modif</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in lst_items"
							v-bind:class="{'check-edit':item.check}">
							<td>
								<el-checkbox 
								 	v-model="item.check" 
								 	:border="true"
									size="small"
								 	>
								 </el-checkbox>
							</td>
							<td>
								{% comment %}
									<button type="button" 
										@click.remove="anularReserva(item)"
										class="btn btn-danger btn-sm"
										title="Cancelar">
										<i class="fas fa-minus-circle"></i>
									</button>
								{% endcomment %}
								<button type="button" 
									@click.remove="modifyReserva(item)"
									class="btn btn-info btn-sm"
									title="Modificar">
									<i class="fas fa-pen-square"></i>
								</button>
							</td>
							<td>
								${item.fecha_evento| format("DD/MM/Y")}
							</td>
							<td>
								${item.hora_inicio} a ${item.hora_final}
							</td>
							<td > 
								${item.sala.descripcion}
							</td>
							<td > 
								${item.empleado.nombres} ${item.empleado.apellidos}
							</td>
							<td >
								${item.motivo} 
							</td>
							<td > 
								${item.estado.descripcion}
							</td>
							<td>
								${item.fhregistro| format("DD/MM/Y HH:MM:ss")}
							</td>
							<td>
								${item.fhmodificacion| format("DD/MM/Y HH:MM:ss")}
							</td>
							<td>
								${item.username_modif ? item.username_modif:''}
							</td>
							<td>
								<i class="fas fa-redo-alt" v-if="item.recurrence==1" title="Evento recurrente">
								</i>
							</td>
						</tr>
						<tr v-if="lst_items.length==0">
							<td colspan="12">
								No se encontraron resultados
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="summary">
				<div>
					<span>Total Registros :</span>
					<label>${totales.filas}</label>
				</div>
			</div>
		</div>
	</div>
	<div id="container-form">
		<div id="vItem">
			{% include 'reservas/forms/form_reservas.html' %}
			{% include 'reservas/forms/salas_disponibles.html' %}
			{% include 'reservas/forms/form_external_member.html' %}
		</div>
	</div>

{% endblock %}

{% block additionaljs %}
	<script src="{% static '/js/unpkg.com/vue-router@3.0.1/dist/vue-router.min.js' %}"></script>
	
	<script type="text/javascript">
		
		const URI_HOME = window.location.pathname ;
		const URI_ESTADO = "{% url 'apiv1:metas_obtener_estados' %}";
		const URI_SALAS = "{% url 'apiv1:catalogos_obtener_salas' %}";
		const URI_PLANTAS = "{% url 'apiv1:catalogos_obtener_plantas' %}";
		const URI_EMPLEADOS = "{% url 'apiv1:metas_obtener_empleados' %}";
		
		// added at 2020.02.01
		const URI_RECURRENCE = "{% url 'apiv1:reserva_obtener_recurrencia'%}" ;
		const URI_WEEKDAYS = "{% url 'apiv1:reserva_obtener_weekdays'%}" ;

		{% if user.empleado_intranet_set.id  %}
			const uidemployer = {{user.empleado_intranet_set.id}} ;
		{%else%}
			const uidemployer = 0 ;
		{%endif%}
	</script>
	<script src="{% static '/js/reservas_calendario.js' %}"></script>
{% endblock %}