@import 'nib'

color-white = rgba(255,255,255,1)

.layerTitle
	margin-top 5px
	margin-bottom 5px
	padding 5px 20px
	border 1px solid silver
	background-color color-white
	h3
		font-size 1.5rem
		font-weight bold

.layerFields
	border 1px solid silver
	background-color color-white
	padding 5px 20px
	margin-bottom 0.3rem
	.row
		div[class^="col-"]
			.form-group
				label, .el-select
					display block
				div[class^="el-date-editor"]
					width 8.214285714285714rem
			button
				margin-top 0.3rem
				
.layerTable
	background-color color-white
	overflow-y auto
	height 21.42857142857143rem
	tr
		td
			padding 0
			vertical-align middle
			&:nth-child(1)
				width 150px
				text-align center
			&:nth-child(2)
				width 50px
				text-align center
			button
				padding 2px 10px
				i
					font-size 1.5rem

.summary
	border 1px solid silver
	background-color color-white
	margin-top 0.8rem
	padding 0.7142857142857143rem 1.428571428571429rem
	div
		display block
		width 100%
		height 1.2rem
		span
			font-weight bold
		label
	
#vModal
	.el-dialog
		transition  1s all ease-in-out
		width 40%
		.el-dialog__header
			.el-dialog__title
				font-weight bold
		.el-dialog__body
			padding 10px 20px
			.row.Fields
				padding 0 10px
				form
					width 100%
					div[class^="col-"]
						.form-group
							label
								width 5.71428571429rem

.el-select-dropdown__item
	&.hover
		background-color rgba(0,111,196,.3)
		
@media screen and (max-width: 640px)
	.layerFields
		padding 20px 5px
		div[class^="col-"]
			.form-group
				div[class^="el-date-editor"]
					width auto
	#vModal
		.el-dialog
			width 95% !important
			.el-dialog__body
				padding 10px 5px
				.row.Fields
					div[class^="col-"]
						.form-group
							.el-select
								width 100%

@media screen and (max-width: 980px)
	#vModal
		.el-dialog
			width 65%
			.el-dialog__body
				.row.Fields
					div[class^="col-"]
						.form-group
							.el-select
								width 70%