@import 'nib'

color-white = rgba(255,255,255,1)

.layerTitle
	margin-top 5px
	margin-bottom 5px
	padding 5px 20px
	border 1px solid silver
	background-color color-white
	h3
		font-size 1.5rem
		font-weight bold
	
.layerFields
	border 1px solid silver
	background-color color-white


.layerFields
	padding 5px 20px
	border 1px solid silver
	background-color color-white
	margin-bottom 0.3rem
	.row
		div[class^="col-"]
			.form-group
				label, .el-select
					margin-bottom 0px
					display block
				div[class^="el-date-editor"]
					width 7.85714285714rem
			button
				margin-top 0.3rem

.layerTable
	background-color color-white
	overflow hidden
	width 100%
	display block
	#rightside, #leftside
		width 40%
		height 300px
		display block
		overflow-y auto
		tr
			th, td
				font-size 1rem
				padding 0 0.3rem
				margin 0
				vertical-align middle
				label
					margin 0
			th
				padding-top 10px
		tbody tr
			&:hover 
				background-color rgba(0,111,196,.2)
	#rightside
		float right
	#leftside
		float left
	#middleside 
		vertical-align middle
		float left
		display table
		width 20%
		height 300px
		.gb-buttons
			display table-cell
			vertical-align middle
			button
				display block
				width 100%
				margin-bottom 0.5rem
	.summary
		clear both
		display block
		margin-bottom 10px
		div
			display block
			padding 0 20px
			height 1.285714285714286rem
			overflow hidden
			span, label
				float left
			span
				font-size 0.9rem
				font-weight bold
				width 11.4285714286rem
			label
				

.el-select-dropdown__item
	&.hover
		background-color rgba(0,111,196,.3)


@media screen and (max-width: 980px)
	.layerTable
		#rightside, #leftside
			width 100%
			tr
				th
					&:nth-child(2)
						text-align center
						width 80%
		#middleside 
			width 100%
			height auto