@import 'nib'

color-white = rgba(255,255,255,1)


.layerTitle
	margin-top 5px
	margin-bottom 5px
	padding 5px 20px
	border 1px solid silver
	background-color color-white
	h3
		font-size 1.5rem
		font-weight bold
	
.layerFields,
.layerCheck,
.summary
	border 1px solid silver
	background-color color-white
.layerFields
	padding 5px 20px
	div[class^="col-"]
		.form-group
			margin-bottom 0.2rem
			input[type="text"]
				text-transform uppercase
			label, .el-select
				display block
				margin-bottom 0.1rem
			// div[class^="el-date-editor"]
			// 	width 7.85714285714rem

.layerCheck
	margin-top 0.2rem
	padding 5px 20px
	div[class^="col-"]
		.form-group
			margin-bottom 0.2rem
		.currentTime
			font-size 2rem
			margin-bottom 0
		.legend
			span
				overflow hidden
				.descrip, .signal
					float left
					margin 0
					padding 0
				.descrip
					width auto
					margin-right 1rem
				.signal
					border 1px solid silver
					width 2rem
					height 1.2rem
					margin-top 0.1rem
					margin-right 0.4rem
					border-radius 3px
					opacity 0.5
					&.red
						background-color red
					&.green
						background-color green
.layerTable
	margin-top 0.5rem
	background-color color-white
	transition 1s all ease-in-out
	min-height 0.5rem
	max-height 100%
	// max-height 32.14285714285714rem
	overflow auto
	display block
	table
		tr
			&:hover
				background-color transparent
			th, td
				text-align center
			th
				font-size 1rem
			td
				padding 0.3rem 0.4rem
				transition 0.4s all ease-in-out
				border 1px solid silver
				vertical-align middle
				position relative
				.item-responsable
					position absolute
					transition 0.5s all ease-in-out
					opacity 0
					top 0
					// right -2rem
					right 35%
					width 10rem
					margin 0.5rem 0 0 0
					font-size 0.9rem
					display block
					padding 0.3rem
					background-color rgba(0,0,0,0.8)
					color white
					border-radius 5px
				i
					font-size 1.3rem
					padding-right 3px
				&:hover
					cursor pointer
					.item-responsable
						opacity 1
				&.box-green
					background-color rgba(0,128,0,0.1)
					&:hover
						background-color rgba(0,128,0,0.4) !important
						border 1px solid rgba(0,128,0,0.8)
				&.box-red
					background-color rgba(255,0,0,0.2)
					&:hover
						background-color rgba(255,0,0,0.4) !important
						border 1px solid rgba(255,0,0,0.8)
				&.box-disabled
					background-color rgba(236,236,236,0.7)
					border 1px solid #ACACAC
				label
					&:hover
						cursor pointer
			

.summary
	margin-top 0.8rem
	padding 0.7142857142857143rem 1.428571428571429rem
	div
		display block
		width 100%
		height 1.2rem
		span
			font-weight bold
		label
			
.el-select-dropdown__item
	&.hover
		background-color rgba(0,111,196,.3)
		
@media screen and (max-width: 640px)
	.layerFields
		padding: 5px 5px;
	.layerCheck
		div[class^="col-"]
			.legend
				span
					display block
			
@media screen and (max-width: 980px)
	html, body
		font-size  20px

// @media screen and (max-width: 1200px)