

style-confirmation()
	color rgba(0,0,0,0.6)
	text-shadow 1px 1px 1px #4C4C4C
	display block
	background-color white
	padding 4rem 2rem
	border-radius 5px
	box-shadow 1px 1px 1px 1px rgba(230,242,250,0.9)
	margin-top 0.5rem
	margin-bottom 0.5rem
	border 1px solid silver
	&.rejected
		background-color rgba(255,0,0,0.1)
	&.approved
		background-color rgba(0,128,0,0.1)
	&.anticipation
		background-color rgba(255,174,25,0.1)
	article
		h1
			font-size 3em
			padding-bottom 2rem
			i
				&.approved
					color green
				&.rejected
					color red
				&.anticipation
					color orange
		p
			font-size 1.5rem	
		footer
			padding-top 1rem
			font-size 1.4rem

body
	main 
		.middle-side
			.middle-rightside
				.body-container
					.layer-confirmation
							style-confirmation()