@import 'nib'

color-white = rgba(255,255,255,1)
color-black = rgba(0,0,0,1)

bgcolor-even = rgba(245,247,250,1)
bgcolor-odd = rgba(220,222,225,0.4)

style_reservas()
	transition 1s all ease-in-out
	.layerFields, .summary
		border 1px solid silver
		background-color color-white
	.layerFields
		margin 0
		padding 10px
		form
			width 100%
			.form-row
				button
					margin-bottom 0.5rem
				.form-group
					margin-bottom 0.4rem
					.form-control
						padding 0.6rem
					.form-label
						padding-right 1rem
					div[class^="el-date-editor"],
					div[class^="el-select"]
						width 100%

	.layerTable
		display block
		background-color color-white
		height 21.42857142857143rem
		overflow-y auto
		.table
			tr
				&.check-edit
					background-color rgba(25,140,25,0.2)
				th
					text-align center
					vertical-align middle
						
				td:nth-child(1)
					text-align center
					.el-checkbox.el-checkbox--small.is-bordered
						margin-bottom 0
						height 28px
						
				td:nth-child(2)
					margin 0
					padding 0 0 0 0
					button
						margin 0
						padding 0.2142857142857143rem
						i
							font-size 1.3rem
				td:nth-last-child(1)
					i
						font-size 1.6rem
						color green
						text-shadow 1px 1px 1px black
						&:hover
							cursor pointer
				td
					padding 0.1rem 1rem
					font-size 0.8571428571428571rem

	.summary
		margin-top 0.8rem
		padding 0.7142857142857143rem 1.428571428571429rem
		div
			display block
			width 100%
			height 1.2rem
			span
				font-weight bold
			label

style_reservas_item()
	padding 1rem 1rem
	border 1px solid silver
	background-color color-white
	form
		div[class^="col-"]
			&.el-sala
				.el-select
					width 17.85714285714286rem
					
			&.el-solicitante
				.form-group
					.el-select
						width 90%
						
			&.layerRecurrence
				.row
					border 1px solid rgba(0,128,0, 0.4)
					background-color rgba(246,255,234,.2)
					margin-left 0.2rem
					margin-right 0.2rem
					padding 0.5rem
					div[class^="col-"]
						.form-group
							.el-select
								display block
								width 100%
					
			
			&.layerSummary
				.row
					border 1px solid rgba(255,246,143,1)
					background-color rgba(255,246,143,0.2)
					height auto
					margin-left 0.1rem
					margin-right 0.1rem
					margin-top 0
					margin-bottom 0
					label
						padding 0.4rem
						margin-bottom 0
						font-weight bold

			&.layerApplicants
				.layerHeaderGroup
					label
						font-weight bold
						margin-top 0.5rem
						margin-bottom 0.1rem
					
				.row
					overflow hidden
					div[class^="col-"]
						.form-group
							margin-bottom 0.5rem
					span, table
						margin-left 1rem
					table
						tr th
							padding .1rem
						tr td
							padding .1rem
							vertical-align middle
							font-size 0.9rem
					
						
			.form-group
				margin-bottom .3rem
				.form-label
					padding-left 0
					margin-bottom 1px
					display block
				.form-control
					width 100%
					display inline-block
					
				.el-select
					.el-input.is-disabled.el-input--suffix
						.el-input__inner
							color inherit
							font-weight bold
				.el-switch
					margin-top .5rem
				
				.el-date-editor.el-input, 
				.el-date-editor.el-input__inner
					width 100%
					&.is-disabled.el-input--prefix.el-input--suffix.el-date-editor--date
						.el-input__inner
							color inherit
							font-weight bold
							
			button
				padding-left 5px
				padding-right 5px
				.far.fa-calendar-check
					font-size 1.3rem
			
			// styles for disabled fields
			input[name="capacidad"]
				color inherit
				font-weight bold
    
modal_calendar_table()
	table
		tr
			&:hover
				background-color transparent
			th, td
				text-align center
				&:nth-child(1)
					width 130px
			th
				font-size 1rem
			td
				padding 0.3rem 0.4rem
				transition 0.2s all ease-in-out
				border 1px solid silver
				vertical-align middle
				position relative
				.item-responsable
					transition 0.5s all ease-in-out
					opacity 0
					position absolute
					top 0
					// right -2rem
					right 35%
					width 10rem
					margin 0.5rem 0 0 0
					font-size 0.9rem
					display block
					padding 0.3rem
					background-color rgba(0,0,0,0.8)
					color white
					border-radius 5px
				i
					font-size 1.2rem
					padding-right 3px
				.item-info
					transition 0.5s all ease-in-out
					color rgba(0,0,0,0.7)
					// text-shadow 1px 1px rgba(0,0,0,0.7)
					font-weight bold
					opacity 0
				&:hover
					cursor pointer
					.item-responsable
						opacity 1
					.item-info
						opacity 1
				&.box-green
					background-color rgba(0,128,0,0.1)
					&:hover
						background-color rgba(0,128,0,0.4) !important
						border 1px solid rgba(0,128,0,0.8)
				&.box-red
					background-color rgba(255,0,0,0.2)
					&:hover
						background-color rgba(255,0,0,0.4) !important
						border 1px solid rgba(255,0,0,0.8)
				&.box-selected
					background-color #66b266
					border 1px solid #008000
				&.box-disabled
					background-color rgba(236,236,236,0.7)
					border 1px solid #ACACAC
					
				label
					margin 0
					padding 0
					&:hover
						cursor pointer
						
style_modal_calendar()

	.el-dialog__wrapper
		.el-dialog
			transition 1s all ease-in-out
			width 90%
			margin-top 3rem !important
			.el-dialog__body
				padding 15px 20px
				form
					.el-sala
						.form-group
							.el-select
								width 220px
					.form-group
						.el-select
							width auto
						.form-control
							width auto
					.layerSchedule
						overflow-y auto
						// height 21.42857142857143rem
						height 26rem
						margin-top 1rem
						margin-bottom 1rem
						text-align center
						border 1px solid silver
						modal_calendar_table()
						
						div
							background-color white
							padding 0.7rem
							&.schedule-empty
								margin auto 0rem
								i
									font-size 5rem
									color silver

style_modal_member()
	.el-dialog__wrapper.ModalExternal
		.el-dialog
			width 45%
			.el-dialog__body
				form
					.row
						margin-bottom 1rem
						div[class^="col-"]
							.form-group
								.form-label
									width 8rem
								.form-control
									width 100%

#container-requests,
#container-form
	display none

.layerData
	display display
	width 100%
	
.layerTitle
	margin-top 0.3571428571428571rem
	margin-bottom 0.3571428571428571rem
	padding 0.3571428571428571rem 20px
	border 1px solid silver
	background-color color-white
	h3
		font-size 1.5rem
		font-weight bold

.layerTabs
	// margin-top 1rem
	p:nth-child(1)
		display none
		a
			transition 0.5s all ease-in-out
			&:active, &:link, &:visited
				padding 0.9rem
				border 1px solid silver
				text-decoration none
				color color-black
				background-color color-white
			&:hover
				background-color rgba(0,0,0,0.8)
				color color-white

.layerData
	style_reservas()
	
#vItem
	style_reservas_item()
	
	style_modal_calendar()
	style_modal_member()

.el-select-dropdown__item
	&.hover
		background-color rgba(0,111,196,.3)
		
.el-autocomplete-suggestion li:hover,
.el-autocomplete-suggestion li.highlighted
		background-color rgba(0,111,196,.2)


.alert
	font-weight bold
	font-size 0.8rem
	padding 0.1rem 0.5rem
	margin-top 0.1rem
	margin-bottom 0.1rem
	&.alert-success
		margin-bottom 0.5rem
		display inline-block
		i
			font-size 1.5rem
			margin 0 0.5rem
    
@media screen and (max-width: 640px)
	#vItem
		form
			.layerApplicants
				.row
					.form-group
						button
							margin-top 0.5rem
			div[class^="col-"]
				.form-group
					.el-select
						width 100%
						
		.el-dialog
			width 97% !important	

@media screen and (max-width: 980px)
	#vItem
		padding 1rem 1rem
		.el-dialog
			width 90%
			
// @media screen and (max-width: 1200px)
		