{% load static %}
<form>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="passwd">Email</label>
				<input 
					@keyup="handleKeyup"
					v-model="email"
					type="email" 
					class="form-control" 
					name="email" 
					placeholder="Ingrese email"
					autocomplete="off"
					required="true">
				<div v-if="hasError('email')"
			    	class="alert alert-danger" 
			    	role="alert">Completar Email</div>
			</div>
		</div>
	</div>
	<div class="row">
		<button 
			@click.prevent="handleClick"
			class="btn btn-primary btn-log btn-block"
			:disabled="button_status">
			<label v-if="!loading">Enviar reseteo de Clave</label>
			<div class="login-loader" v-if="loading">
				<img src="{% static 'images/img_loader.gif' %}">
			</div>
		</button>
	</div>
	<div class="row">
		<a href="{% url 'login:main' %}"
		class="backLoginPage">
		Regresar a p&aacutegina de Login</a>
	</div>
</form>