{% load static %}
<form>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="passwd">Clave Actual</label>
				<input 
					@keyup="handleKeyup"
					v-model="current_password"
					type="password" 
					class="form-control" 
					name="current_password" 
					placeholder="Ingrese Clave Actual"
					autocomplete="current-password"
					required="true">
				<div v-if="hasError('current_password')"
			    	class="alert alert-danger" 
			    	role="alert">Completar Campo</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label for="passwd">Nueva Clave</label>
				<input 
					@keyup="handleKeyup"
					v-model="new_password"
					type="password" 
					class="form-control" 
					name="new_password" 
					placeholder="Ingrese Nueva Clave"
					autocomplete="new-password"
					required="true">
				<div v-if="hasError('new_password')"
			    	class="alert alert-danger" 
			    	role="alert">Completar Campo</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label for="passwd">Cofirmaci&oacuten Nueva Clave</label>
				<input 
					@keyup="handleKeyup"
					v-model="new_password2"
					type="password" 
					class="form-control" 
					name="new_password2" 
					placeholder="Ingrese Confirmación de Clave"
					autocomplete="new-password"
					required="true">
				<div v-if="hasError('new_password2')"
			    	class="alert alert-danger" 
			    	role="alert">Completar Campo</div>
			</div>
		</div>
		{% if password_length %}
			<div class="col-md-12 advice">
				<span class="alert alert-danger advice" role="alert">
					* Longitud m&iacutenima de caracteres : 
					{% if password_length %}
						{{password_length}}
					{% endif%}
				</span>
			</div>
		{% endif%}
	</div>
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<button 
				@click.prevent="handleClick"
				class="btn btn-primary btn-log btn-block"
				:disabled="loading || button_status"
				>
				<label v-if="!loading">Actualizar Clave de Acceso</label>
				<div class="login-loader" v-if="loading">
					<img src="{% static 'images/img_loader.gif' %}">
				</div>
			</button>
		</div>
	</div>
	<div class="row">
		<a href="{% url 'login:update_password' %}cancel"
		class="backLoginPage">
		Cancelar Cambio de Clave</a>
	</div>
</form>