{% load static %}
<form>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="passwd">Nueva Clave</label>
				<input 
					@keyup="handleKeyup"
					v-model="password"
					type="password" 
					class="form-control" 
					name="password" 
					placeholder="Ingrese Nueva Clave"
					autocomplete="new-password"
					required="true">
				<div v-if="hasError('password')"
			    	class="alert alert-danger" 
			    	role="alert">Completar Campo</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label for="passwd">Cofirmaci&oacuten Nueva Clave</label>
				<input 
					@keyup="handleKeyup"
					v-model="password2"
					type="password" 
					class="form-control" 
					name="password2" 
					placeholder="Ingrese Confirmación de Clave"
					autocomplete="new-password"
					required="true">
				<div v-if="hasError('password2')"
			    	class="alert alert-danger" 
			    	role="alert">Completar Campo</div>
			</div>
		</div>
		{% if password_length %}
			<div class="col-md-12 advice">
				<span class="alert alert-danger advice" role="alert">
					* Longitud m&iacutenima de caracteres : 
					{% if password_length %}
						{{password_length}}
					{% endif%}
				</span>
			</div>
		{% endif%}
	</div>
	<div class="row">
		<button 
			@click.prevent="handleClick"
			class="btn btn-primary btn-log btn-block"
			:disabled="loading || button_status"
			>
			<label v-if="!loading">Restablecer Clave de Acceso</label>
			<div class="login-loader" v-if="loading">
				<img src="{% static 'images/img_loader.gif' %}">
			</div>
		</button>
	</div>
	<div class="row">
		<a href="{% url 'login:main' %}"
		class="backLoginPage">
		Regresar a p&aacutegina de Login</a>
	</div>
</form>