
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}

	 <link rel="stylesheet" href="{% static '/css/meta_marca.css' %}">
{% endblock %}

{% block container %}
	<div class="layerTitle">
		<h3>Modulo {{title}} </h3>
	</div>
	<div class="layerData" id="vContainer">
		<template>
			<div class="layerFields">
				<div class="row">
					<div class="col-12 col-sm-6 col-md-6 col-lg-4">
						<div class="form-group">
							<label for="">Marca</label>
							<el-select v-model="marca" 
								placeholder="Seleccione"
								filterable
								clearable>
							    <el-option
							      v-for="item in list.list_marcas"
							      :key="item.id"
							      :label="item.value"
							      :value="item.id">
							    </el-option>
							</el-select>
						</div>	
					</div>
					<div class="col-12 col-sm-6 col-md-3 col-lg-2">
						<div class="form-group">
							<label for="">Año</label>
							<el-date-picker
							      v-model="anio"
							      type="year"
							      placeholder="Seleccione año"
							      >
						    </el-date-picker>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-3 col-lg-2">
						<div class="form-group">
							<label for="">Mes</label>
							<el-date-picker
							      v-model="mes"
							      type="month"
							      placeholder="Seleccione mes"
							      >
						    </el-date-picker>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-6 col-md-3 col-lg-2">
						<button class="btn btn-primary btn-block" 
							@click.prevent="getSearch">
							<i class="fas fa-search"></i>
							Buscar
						</button>
					</div>
					<div class="col-12 col-sm-6 col-md-3 col-lg-2">
						<button class="btn btn-success btn-block" 
							@click.prevent="showDialog">
							<i class="fas fa-plus-circle"></i>
							Agregar Meta
						</button>
					</div>
					<div class="col-12 col-sm-6 col-md-3 col-lg-2">
						<button class="btn btn-warning btn-block" 
							@click.prevent="handleClean">
							<i class="fas fa-backspace"></i>
							Limpiar Campos
						</button>
					</div>
				</div>
			</div>
			<div class="layerTable">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>ID</th>
							<th>Marca</th>
							<th>Meta</th>
							<th>Año</th>
							<th>Mes</th>
							<th>Fh. Ingreso</th>
							<th>Usuario</th>
							<th>Fh. Modif.</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in lst_items">
							<td>
								<button type="button" 
									@click.remove="removeMeta(item)"
									class="btn btn-danger btn-sm"
									title="Eliminar">
									<i class="fas fa-minus-circle"></i>
								</button>
								<button type="button" 
									@click.remove="modifyMeta(item)"
									class="btn btn-info btn-sm"
									title="Modificar">
									<i class="fas fa-pen-square"></i>
								</button>
							</td>
							<td v-text="item.id"></td>
							<td >
								${item.marca?item.marca.nombre:''}
							</td>
							<td v-text="item.meta"></td>
							<td v-text="item.anio"></td>
							<td v-text="item.mes"></td>
							<td>
								${item.fhregistro| format("DD/MM/Y HH:MM:ss")}
							</td>
							<td>
								${item.username ? item.username:''}
							</td>
							<td>
								${item.fhmodificacion| format("DD/MM/Y HH:MM:ss")}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="summary">
				<div>
					<span>Total Registros :</span>
					<label>${totales.filas}</label>
				</div>
			</div>
		</template>
	</div>
	<div id="vModal">
		<template>
			{% include 'metas/forms/form_marca.html' %}
		</template>
	</div>

{% endblock %}

{% block additionaljs %}
	
	<script type="text/javascript">
		const URI_HOME = window.location.pathname;
		const URI_MARCAS = "{% url 'apiv1:metas_obtener_marcas' %}";
	</script>
	<script src="{% static '/js/meta_marca.js' %}"></script>
{% endblock %}