
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}
	 
	 <link rel="stylesheet" href="{% static '/css/meta_concesionario.css' %}">
{% endblock %}

{% block container %}
	<div class="layerTitle">
		<h3>Modulo {{title}} </h3>
	</div>
	<div class="layerData" id="vContainer">
		<template>
			<div class="layerFields">
				<div class="row">
					<div class="col-12 col-sm-6 col-md-6 col-lg-4">
						<div class="form-group">
							<label for="">Marca</label>
							<el-select v-model="marca" 
								placeholder="Seleccione"
								
								filterable
								clearable>
							    <el-option
							      v-for="item in list.list_marcas"
							      :key="item.id"
							      :label="item.value"
							      :value="item.id">
							    </el-option>
							</el-select>
						</div>	
					</div>
					<div class="col-12 col-sm-6 col-md-6 col-lg-4">
						<div class="form-group">
							<label for="">Jefe</label>
							<el-select v-model="jefe" 
								placeholder="Seleccione"
								
								filterable
								clearable>
							    <el-option
							      v-for="item in list.list_jefes"
							      :key="item.id"
							      :label="item.value"
							      :value="item.id">
							    </el-option>
							</el-select>
						</div>	
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-6 col-md-3 col-lg-3">
						<button class="btn btn-primary btn-block" 
							@click.prevent="getSearch">
							<i class="fas fa-search"></i>
							Buscar
						</button>
					</div>
					<div class="col-12 col-sm-6 col-md-3 col-lg-3">
						<button class="btn btn-success btn-block" 
							@click.prevent="confirmDialog" :disabled="btn_status">
							<i class="far fa-save"></i>
							Guardar Cambios
						</button>
					</div>
				</div>
			</div>
			
			<div class="layerTable">
				<table class="table table-hover" id="leftside">
					<thead>
						<tr>
							<th style=" width:150px; text-align: center">
								Todos
								<el-checkbox v-model="checked_disable"
									border >
									
								</el-checkbox>
							</th>
							<th>No Asignados</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in lst_items_disabled">
							<td style="text-align: center">
								<el-checkbox v-model="item.check"
									border >
								</el-checkbox>
							</td>
							<td v-text="item.nombre"></td>
						</tr>
					</tbody>
				</table>
				<div id="middleside">
					<div class="gb-buttons">
						<button class="btn btn-info" 
							@click.prevent="enableItem">
							Agregar
						</button>
						<button class="btn btn-danger"
							@click.prevent="disableItem">
							Quitar
						</button>
					</div>
				</div>
				<table class="table table-hover" id="rightside">
					<thead>
						<tr>
							<th style=" width:150px; text-align: center">
								Todos
								<el-checkbox v-model="checked_enable" 
									border >
								</el-checkbox>
							</th>
							<th>Asignados</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in lst_items_enabled">
							<td style="text-align: center">
								<el-checkbox v-model="item.check"
									border >
								</el-checkbox>
							</td>
							<td v-text="item.nombre"></td>
						</tr>
					</tbody>
				</table>
				<div class="summary">
					<div>
						<span>Total Habilitados</span>
						<label>${totales.habilitados}</label>
					</div>
					<div>
						<span>Total Deshabilitados</span>
						<label>${totales.nohabilitados}</label>
					</div>
					<div>
						<span>Total Registros</span>
						<label>${totales.filas}</label>
					</div>
				</div>
			</div>
		</template>
	</div>

{% endblock %}

{% block additionaljs %}
	
	<script type="text/javascript">
		
		const URI_HOME = window.location.pathname ;
		const URI_JEFES = "{% url 'apiv1:metas_obtener_jefes' %}";
		const URI_MARCAS = "{% url 'apiv1:metas_obtener_marcas' %}";
	</script>
	<script src="{% static '/js/meta_concesionario.js' %}"></script>
{% endblock %}