
@import 'nib'
body
	main
		.middle-side
			position fixed
			top 3rem
			bottom 0
			margin-top 0
			display table
			overflow-y auto
			div
				margin auto 0
				width 100%
				display table-cell
				vertical-align middle
				border-radius 5px
				article
					transition 1s width ease-in-out
					border 1px solid rgba(255,0,0,0.9)
					text-align center
					background-color rgba(255,0,0,0.2)
					padding 2rem
					width 57.14285714285714rem
					margin 0 auto
					border-radius 10px
					box-shadow 0px 0px 2px 1px orange
					h2
						font-size 9rem
					p
						font-size 3rem
						text-transform uppercase
					footer
						font-size 1.2rem
						position relative
					h2, p, footer
						transition 1s all ease-in-out
					.btn-home
						border-radius 1rem
						font-weight bold
						margin-top 1.2rem
						padding 0.7rem 2rem
						a
							color white
						
@media screen and (max-width: 640px)
	body
		main
			.middle-side
				div
					article
						width 95% !important
						h2
							font-size 3.5rem !important
						p
							font-size 1.7rem !important
						footer
							font-size 0.8rem !important

@media screen and (max-width: 980px)
	body
		main
			.middle-side
				div
					article
						width 80%
						h2
							font-size 6rem
						p
							font-size 2rem
						footer
							font-size 1rem