
{% extends 'interface/base_main.html' %}
{% load static %}

{% block additionalmeta %}
{% endblock %}	

{% block additionalcss %}
{% endblock %}	

{% block main %}
	<main>
		<header class="top-side">
			{% include 'main/main_header.html' %}
		</header>
		<section class="middle-side">
			{% block middleside %}
				<article class="middle-leftside expand">
					{% include 'main/main_nav.html' %}
				</article>
				<article class="middle-rightside">
					<div class="body-container">
						{% block container %}
						{% endblock %}
					</div>
				</article>
				<article 
					class="middle-rightside-loader">
						<div class="loader"></div>
				</article>
			{% endblock %}
		</section>
		<section class="session-side">
			{% include 'main/main_session.html' %}
		</section>
		<footer class="bottom-side">
			{% now 'Y' as current_year %}
			{% if current_year == year %}
				{{year}}
			{%else%}
				{{year}} - {% now 'Y' %}
			{%endif%}
			{{company}} &copy; Todos los Derechos Reservados
		</footer>
	</main>
{% endblock %}

{% block additionaljs %}
{% endblock %}