{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<title>
		{% block title %}
			SKBerge Application Login
		{% endblock %}
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<link rel="stylesheet" type="text/css" href="{% static '/css/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/fontawesome-free-5.1.0-web/css/all.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap/4.1.1/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static '/js/unpkg.com/element-ui@2.4.2/lib/theme-chalk/index.css' %}">
	{% block additionalcss %}
    {% endblock %}
</head>
<body>
	{% csrf_token %}
	<div class="layer_bg">
		<div class="layer-foreground"></div>
		<figure class="layer-background">
			<img src="{% static '/images/img_bglogin.jpg' %}">
		</figure>
	</div>
	{% block main %}
	{% endblock %}
	<footer>
		{% now 'Y' as current_year %}
		{% if current_year == year %}
			{{year}}
		{%else%}
			{{year}} - {% now 'Y' %}
		{%endif%}
		{{company}} &copy; Todos los Derechos Reservados
	</footer>
	<script type="text/javascript" src="{% static '/js/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/css/bootstrap/4.1.1/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sweetalert.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/moment.min.js' %}">
	</script>
	<script type="text/javascript" src="{% static 'js/unpkg.com/axios/axios.min.js' %}">
	</script>
    {% if env %}
    	{% comment %} 
    		development 
    		<!-- <script src="{% static '/js/vue/dist/vue.js' %}"></script> -->
			<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    	{% endcomment %}
		<script src="{% static '/js/vue@2.5.17/dist/vue.js' %}"></script>
	{%else%}
		{% comment %} 
			production 
			<!-- <script src="{% static '/js/vue/vue.js' %}"></script> -->
			<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
		{% endcomment %}
		<script src="{% static '/js/vue@2.5.17/vue.min.js' %}"></script>
	{%endif%}
	<script src="{% static '/js/unpkg.com/vue-router@3.0.1/dist/vue-router.min.js' %}"></script>
	<script src="{% static '/js/unpkg.com/element-ui@2.4.2/lib/index.js' %}"></script>
	<script src="{% static '/js/unpkg.com/element-ui@2.4.2/lib/umd/locale/es.js' %}"></script>
	<script type="text/javascript">
		ELEMENT.locale(ELEMENT.lang.es)
		axios.defaults.headers.common = {
		    'X-Requested-With': 'XMLHttpRequest',
		    'X-CSRFToken' : document.getElementsByName("csrfmiddlewaretoken")[0].value,
		};
		const axiosPostHeaders = {
			'Content-Type': 'application/x-www-form-urlencoded',
		} ;
		const URI_HOME = window.location.pathname ;
	</script>
	{% block additionaljs %}
    {% endblock %}
</body>
</html>