
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}
	 <link rel="stylesheet" href="{% static '/js/unpkg.com/element-ui@2.4.2/lib/theme-chalk/index.css' %}">
	 <link rel="stylesheet" href="{% static '/css/login/login_passwd.css' %}">
{% endblock %}

{% block container %}
	<div class="layerTitle">
		<h3>Modulo {{title}} </h3>
	</div>
	<div class="layerData" id="vContainer">
		<form>
			<div class="layerFields">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label class="form-label">Clave Actual:</label>	
							<input class="form-control" 
							type="password" 
							name="passwd"
							autocomplete="current-password"
							v-model="passwd"
							@blur="handleBlur">
							<div v-if="hasError('passwd')"
						    	class="alert alert-danger" 
						    	role="alert">
						    	Completar el campo
						    </div>
						</div>
					</div>
					<div class="col-12 col-sm-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label class="form-label">Nueva Clave:</label>	
							<input class="form-control" type="password" name="new_passwd"
							autocomplete="new-password"
							v-model="new_passwd"
							@blur="handleBlur">
							<div v-if="hasError('new_passwd')"
						    	class="alert alert-danger" 
						    	role="alert">
						    	Completar el campo
						    </div>
						</div>
					</div>
					<div class="col-12 col-sm-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label class="form-label">Confirmar Nueva Clave:</label>	
							<input class="form-control" type="password" name="new_passwd2"
							v-model="new_passwd2"
							autocomplete="new-password"
							@blur="handleBlur">
							<div v-if="hasError('new_passwd2')"
						    	class="alert alert-danger" 
						    	role="alert">
						    	Completar el campo
						    </div>
						</div>
					</div>
					{% if password_length %}
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<span class="alert alert-danger advice" role="alert">
								* Longitud m&iacutenima de caracteres : 
								{% if password_length %}
									{{password_length}}
								{% endif%}
							</span>
						</div>
					{% endif%}
				</div>
			</div>
			<div class="layerButtons">
				<div class="row">
					<div class="form-row">
						<div class="col-12 col-sm-6 col-md-4 col-lg-2">
							<button class="btn btn-success btn-block" 
								@click.prevent="handleChangePasswd"
								:disabled="handleDisabled">
								<i class="fas fa-key"></i>
								Cambiar Clave
							</button>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-2" v-if="loading">
							<img src="{% static 'images/img_loader.gif' %}">
						</div>
					</div>

				</div>
			</div>
		</form>
	</div>

{% endblock %}

{% block additionaljs %}
	<script src="{% static '/js/vue/dist/vue.js' %}"></script>
	<script src="{% static '/js/unpkg.com/element-ui@2.4.2/lib/index.js' %}"></script>
	<script src="{% static '/js/unpkg.com/element-ui@2.4.2/lib/umd/locale/es.js' %}"></script>
	<script type="text/javascript">
		ELEMENT.locale(ELEMENT.lang.es)
		axios.defaults.headers.common = {
		    'X-Requested-With': 'XMLHttpRequest',
		    'X-CSRFToken' : document.getElementsByName("csrfmiddlewaretoken")[0].value,
		};
		const axiosPostHeaders = {
			'Content-Type': 'application/x-www-form-urlencoded',
		} ;
		const URI_HOME = window.location.pathname ;
	</script>
	<script src="{% static '/js/login_passwd.js' %}"></script>
{% endblock %}