{% extends 'interface/base.html' %}
{% load static %}

{% block additionalcss%}
	<link rel="stylesheet" type="text/css" href="{% static '/css/login/login_request_reset.css' %}">
{% endblock %}

{% block title %}
	{{header}}
{% endblock%}

{% block main %}
<section class="layer-login" id="container-user">
	<template>
		<div class="login-logo">
			<div class="logo-bg"></div>
			<div class="logo-img"></div>
		</div>
		<div class="login-inputs">
			{% comment %}
				<!-- 
					validation if request comes with the hash parameter to reset the forget password 
				-->
			{% endcomment %}

			{% if kwargs.hashid %}
				{% include 'login/forms/form_reset_password.html' %}
			{% else %}
				{% include 'login/forms/form_request_reset.html' %}
			{% endif %}
		</div>
	</template>
</section>
{% endblock %}
{% block additionaljs %}
	{% if kwargs.hashid %}
			<script type="text/javascript">
				const URI_LOGIN = "{% url 'login:main' %}";
			</script>
			<script type="text/javascript" src="{% static 'js/login_reset_password.js' %}"></script>		
	{% else %}
			<script type="text/javascript" src="{% static 'js/login_request_reset.js' %}"></script>		
	{% endif %}
{% endblock %}