{% extends 'interface/base.html' %}
{% load static %}

{% block additionalcss%}
	<link rel="stylesheet" type="text/css" 
		href="{% static '/css/login/login_request_reset.css' %}">
	<link rel="stylesheet" type="text/css" 
		href="{% static '/css/login/login_update_passwd.css' %}">
{% endblock %}

{% block main %}
<section class="layer-login" id="container-user">
	<template>
		<div class="login-logo">
			<div class="logo-bg"></div>
			<div class="logo-img"></div>
		</div>
		<div class="login-inputs">
			{% include 'login/forms/form_update_password.html' %}
		</div>
	</template>
</section>
{% endblock %}
{% block additionaljs %}
	<script type="text/javascript" src="{% static 'js/login_update_password.js' %}"></script>
	<script type="text/javascript">
		URI_UPDATEPWD = "{% url 'login:update_password' %}save"
	</script>
{% endblock %}