<form name="frm-reservas-solicitudes">
	<div class="row Fields">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<div class="layerHeaderGroup">
				<label> Datos Generales </label>
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<span class="alert alert-success" role="alert">
				* Click en bot&oacuten 
				<i class="far fa-calendar-check"></i>
				para ver disponibilidad de salas
			</span>
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 layerSummary">
			<div class="row">
				<label>
					Programación : ${getSummary}
				</label>
			</div>
		</div>
		<div 
			class="col-12 col-sm-12 col-md-6 col-lg-4 el-solicitante">
			<div class="form-group">
				<label class="form-label" for="">
					Solicitante
				</label>
				<button type="button" 
					@click="handleAvailability(fecha)"
					class="btn btn-warning "
					title="ver Disponibilidad">
					<i class="far fa-calendar-check"></i>
				</button>
				<el-select v-model="solicitante" 
					placeholder="Seleccione"
					filterable
					clearable
					remote
					reserve-keyword
					:remote-method="searchEmpleado"
					:loading ="remote_empleado.loading"
					@blur="handleBlur"
					name="solicitante"
					disabled
					size="small"
					>
				    <el-option

				      v-for="item in remote_empleado.list"
				      :key="item.id"
				      :label="item.value"
				      :value="item.id">
				    </el-option>
				</el-select>
				<div v-if="hasError('solicitante')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-3 col-lg-2 d-none">
			<div class="form-group">
				<label class="form-label" for="">
					Fecha
				</label>
				<el-date-picker
				      v-model="fecha"
				      type="date"
				      placeholder="Seleccione Fecha"
				      format="dd/MM/yyyy"
				      value-format="yyyy-MM-dd"
				      @blur="handleBlur"
					  name="fecha"
					  disabled
					  size="small"
				      >
			    </el-date-picker>
			    <div v-if="hasError('fecha')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-2 col-lg-1">
			<div class="form-group">
				<label class="form-label" for="">Capacidad </label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"  
					v-model = "capacidad"
					name="capacidad"
					placeholder="0" 
					autocomplete="off"
					disabled
					>
			</div>	
		</div>

		<div class="col-12 col-sm-6 col-md-6 col-lg-4">
			<div class="form-group">
				<label class="form-label" for="">Motivo</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"  
					v-model = "motivo"
					name="motivo"
					placeholder="Ingrese motivo" 
					@blur="handleBlur"
					autocomplete="off"
					>
				<div v-if="hasError('motivo')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-2 col-lg-2">
			<div class="form-group">
				<label class="form-label" for="">Autor como participante</label>
				<el-switch 
					v-model="include"
					active-color="#13ce66"
  					inactive-color="#ff4949"
					 >
				</el-switch>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<div class="form-group">
				<label class="form-label" for="">Evento recurrente? </label>
				<el-switch 
					v-model="recurrence"
					active-color="#13ce66"
  					inactive-color="#ff4949"
					 >
				</el-switch>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 layerRecurrence">
			<div class="row" v-show="recurrence==true">
				<div class="col-12 col-sm-6 col-md-4 col-lg-3">
					<div class="form-group">
						<label class="form-label" for="">
							Frecuencia
						</label>
						<el-select v-model="recurrence_type" 
							placeholder="Seleccione"
							filterable
							clearable
							size="small"
							name="recurrence_type"
							:disabled="recurrence_status"
							>
						    <el-option
						      v-for="item in list.list_recurrence"
						      :key="item.id"
						      :label="item.value"
						      :value="item.id">
						    </el-option>
						</el-select>
						<div v-if="hasError('recurrence_type')"
					    	class="alert alert-danger" 
					    	role="alert">Completar el campo
					    </div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-2 col-lg-2">
					<div class="form-group">
						<label class="form-label" for="">
							Intervalo
						</label>
						<el-select v-model="recurrence_interval" 
							placeholder="Seleccione"
							filterable
							clearable
							size="small"
							name="recurrence_interval"
							:disabled="recurrence_status"
							>
						    <el-option
						      v-for="item in list.list_interval"
						      :key="item.id"
						      :label="item.value"
						      :value="item.id">
						    </el-option>
						</el-select>
						<div v-if="hasError('recurrence_interval')"
					    	class="alert alert-danger" 
					    	role="alert">Completar el campo
					    </div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-3"
					v-show="recurrence_type==2">
					<div class="form-group">
						<label class="form-label" for="">
							Día de semana
						</label>
						<el-select v-model="recurrence_day_week" 
							placeholder="Seleccione"
							filterable
							clearable
							size="small"
							multiple
	    					collapse-tags
	    					name="recurrence_day_week"
	    					:disabled="recurrence_status"
							>
						    <el-option
						      v-for="item in list.list_days_week"
						      :key="item.id"
						      :label="item.value"
						      :value="item.id">
						    </el-option>
						</el-select>
						<div v-if="hasError('recurrence_day_week')"
					    	class="alert alert-danger" 
					    	role="alert">Completar el campo
					    </div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-2 col-lg-2"
					v-show="recurrence_type==3">
					<div class="form-group">
						<label class="form-label" for="">
							Día de Mes
						</label>
						<el-select v-model="recurrence_day" 
							placeholder="Seleccione"
							filterable
							clearable
							size="small"
							name="recurrence_day"
							:disabled="recurrence_status"
							>
						    <el-option
						      v-for="item in list.list_days"
						      :key="item.id"
						      :label="item.value"
						      :value="item.id">
						    </el-option>
						</el-select>
						<div v-if="hasError('recurrence_day')"
					    	class="alert alert-danger" 
					    	role="alert">Completar el campo
					    </div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-2">
					<div class="form-group">
		  				<label class="form-label">
		  					Desde
		  				</label>
		  				<el-date-picker
						      v-model="recurrence_from"
						      type="date"
						      placeholder="Seleccione Fecha"
						      format="dd/MM/yyyy"
						      value-format="yyyy-MM-dd"
							  name="recurrence_from"
							  size="small"
							  :disabled="recurrence_status"
						      >
					    </el-date-picker>
					    <div v-if="hasError('recurrence_from')"
					    	class="alert alert-danger" 
					    	role="alert">Completar el campo
					    </div>
		  			</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-2">
					<div class="form-group">
		  				<label class="form-label">
		  					Hasta
		  				</label>
		  				<el-date-picker
						      v-model="recurrence_to"
						      type="date"
						      placeholder="Seleccione Fecha"
						      format="dd/MM/yyyy"
						      value-format="yyyy-MM-dd"
							  name="recurrence_to"
							  size="small"
							  :disabled="recurrence_status"
						      >
					    </el-date-picker>
					    <div v-if="hasError('recurrence_to')"
					    	class="alert alert-danger" 
					    	role="alert">Completar el campo
					    </div>
		  			</div>
				</div>
			</div>
		</div>



		{%comment%}
			<div 
				class="col-12 col-sm-6 col-md-6 col-lg-4 el-sala d-none">
				<div class="form-group">
					<label class="form-label" for="">Sala</label>
					<el-select v-model="sala" 
						placeholder="Seleccione"
						filterable
						clearable
						@blur="handleBlur"
						name="sala"
						ref="sala"
						disabled
						size="small"
						>
					    <el-option
					      v-for="item in list.list_salas"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
					<div v-if="hasError('sala')"
				    	class="alert alert-danger" 
				    	role="alert">Completar el campo</div>
				</div>	
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 d-none">
				<div class="form-group">
					<label class="form-label" for="">
						Piso / Planta
					</label>
					<el-select v-model="planta" 
						placeholder="Seleccione"
						disabled
						filterable
						clearable
						size="small"
						>
					    <el-option
					      v-for="item in list.list_plantas"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
					<div v-if="hasError('planta')"
				    	class="alert alert-danger" 
				    	role="alert">Completar el campo</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 d-none">
				<div class="form-group">
					<label class="form-label" for="">Horario desde</label>
					<el-time-select
					  v-model="time_from"
					  :picker-options="range_time"
					  placeholder="Seleccione Horario"
					  @blur="handleBlur"
					  name="time_from"
					  :disabled="true"
					  size="small"
					  >
					</el-time-select>
					<div v-if="hasError('time_from')"
				    	class="alert alert-danger" 
				    	role="alert">Completar el campo</div>
				</div>	
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 d-none">
				<div class="form-group">
					<label class="form-label" for="">Horario hasta</label>
					<el-time-select
					  v-model="time_to"
					  :picker-options="range_time"
					  placeholder="Seleccione Horario"
					  @blur="handleBlur"
					  name="time_to"
					  :disabled="true"
					  size="small"
					  >
					</el-time-select>
					<div v-if="hasError('time_to')"
				    	class="alert alert-danger" 
				    	role="alert">Completar el campo</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 d-none">
				<div class="form-group">
					<label class="form-label" for="">Estado</label>
					<el-select v-model="estado" 
						placeholder="Seleccione"
						filterable
						clearable
						@blur="handleBlur"
					  	name="estado"
					  	size="small"
						>
					    <el-option
					      v-for="item in list.list_estados"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
					<div v-if="hasError('estado')"
				    	class="alert alert-danger" 
				    	role="alert">Completar el campo</div>
				</div>	
			</div>
		{%endcomment%}
		<div 
			class="col-12 col-sm-12 col-md-12 col-lg-12 layerApplicants">
			{% include 'reservas/forms/form_reservas_participantes.html' %}
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-md-12 col-lg-12">
			<button class="btn btn-sm btn-primary"
				v-if="solicitante!=0"
				@click.prevent="handleConfirmDialog" title="Guardar Datos">
				<i class="fas fa-save"></i>
				Guardar
			</button>
			<button class="btn btn-sm btn-danger" 
				@click.prevent="handleCancelOperation" title="Cancelar Operación">
				<i class="fas fa-ban"></i>
				Cancelar
			</button>
		</div>
	</div>
</form>