<el-dialog
	title="Registro de Salas"
	:visible.sync="dialog_status"
	
	:before-close="closeDialog">
	<div class="row Fields">
	  	<form name="frm-meta-sala">
	  		<div class="col-md-12">
				<div class="form-group">
					<label for="">Descripción Sala</label>
					<input type="text" 
						name="descripcion"
						class="form-control form-control-lg"
						@blur="handleBlur"
						autocomplete="off" 
						v-model="descripcion">
					<div v-if="hasError('descripcion')"
					    	class="alert alert-danger" 
					    	role="alert">Completar el campo</div>	
				</div>	
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label for="">Planta</label>
					<el-select v-model="planta" 
						placeholder="Seleccione"
						name="planta"
						@blur="handleBlur"
						filterable
						clearable>
					    <el-option
					      v-for="item in list.list_plantas"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
					<div v-if="hasError('planta')"
					    	class="alert alert-danger" 
					    	role="alert">Completar el campo</div>
				</div>	
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label for="">Estado</label>
					<el-select v-model="estado" 
						placeholder="Seleccione"
						name="estado"
						filterable
						@blur="handleBlur"
						clearable>
					    <el-option
					      v-for="item in list.list_estados"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
					<div v-if="hasError('estado')"
					    	class="alert alert-danger" 
					    	role="alert">Completar el campo</div>
				</div>
			</div>
			<div class="row" style="padding:0 2rem">
				<div class="col-md-6" style="padding:0px">
					<div class="form-group">
						<label for="">Nro. Participantes</label>
						<el-input-number 
							 v-model="capacidad"
							 name="capacidad"
							 @blur="handleBlur"
							:min="1" :max="999999">
						</el-input-number>
						<div v-if="hasError('capacidad')"
					    	class="alert alert-danger" 
					    	role="alert">Completar el campo</div>
					</div>	
				</div>
				<div class="col-md-6" style="padding:0px">
					<div class="form-group">
						<label for="">Fecha Vigencia</label>
						<el-date-picker
						      v-model="fecha_vigencia"
						      type="date"
						      placeholder="Seleccione Fecha"
						      format="dd/MM/yyyy"
						      value-format="yyyy-MM-dd"
						      >
					    </el-date-picker>
					</div>	
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-12">
				<label>Horario disponible</label>
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-4">
						<div class="form-group">
							<el-time-select
							  v-model="hora_inicio"
							  :picker-options="range_time"
							  placeholder="Seleccione Horario"
							  @blur="handleBlur"
							  name="hora_inicio"
							  
							  >
							</el-time-select>
							<div v-if="hasError('hora_inicio')"
					    	class="alert alert-danger" 
					    	role="alert">Completar el campo</div>
						</div>
					</div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-4">
						<div class="form-group">
							<el-time-select
							  v-model="hora_final"
							  :picker-options="range_time"
							  placeholder="Seleccione Horario"
							  @blur="handleBlur"
							  name="hora_final"
							  
							  >
							</el-time-select>
							<div v-if="hasError('hora_final')"
					    	class="alert alert-danger" 
					    	role="alert">Completar el campo</div>
						</div>
					</div>
				</div>
			</div>
	  	</form>
	</div>
	<span slot="footer" class="dialog-footer">
	<el-button @click.prevent="cancelDialog">
		Cancelar
	</el-button>
	<el-button type="primary" @click.prevent="confirmDialog">
		Guardar
	</el-button>
	</span>
</el-dialog>