
<div class="layerHeaderGroup">
	<label> Participantes </label>
</div>
<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
		<div class="form-group">
			<el-autocomplete  
				v-model="participante.value" 
				:fetch-suggestions="searchParticipante" 
				placeholder="Ingrese Participante" 
				:trigger-on-focus="false" 
				@select="selectParticipante"
				size="small"
				>
			</el-autocomplete>

			{% comment %}
				<el-select v-model="participante" 
					placeholder="Ingrese Participante"
					filterable
					clearable
					remote
					reserve-keyword
					:remote-method="searchParticipante"
					:loading ="remote_participante.loading"
					>
				    <el-option
				      v-for="item in remote_participante.list"
				      :key="item.id"
				      :label="item.value"
				      :value="item.id">
				    </el-option>
				</el-select>
			{% endcomment %}

			<button type="button" 
				@click.prevent="handleAddParticipante"
				class="btn btn-sm btn-success"
				:disabled="button_det_status"
				title="Agregar participante">
				<i class="fas fa-plus-circle"></i>
				Participante
			</button>
			<button type="button" 
				@click.prevent="handleAddExternalMember"
				class="btn btn-sm btn-info"
				:disabled="button_det_status"
				title="Agregar participante externo">
				<i class="fas fa-plus-circle"></i>
				Participante externo
			</button>
		</div>	
	</div>
</div>
<div class="row">
	<span class="alert alert-danger">
		¡¡ Validar direcci&oacuten de correo electr&oacutenico sea correcta, de lo contrario no llegar&aacute la programaci&oacuten del evento al participante. !!
	</span>
	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Participante</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="item in lst_items">
				<td>
					<button type="button" 
						@click.prevent="handleRemoveParticipante(item)"
						class="btn btn-danger btn-sm"
						title="Eliminar">
						<i class="fas fa-minus-circle"></i>
					</button>
				</td>
				<td>
					${item.empleado.fullname}
				</td>
				<td>
					${item.empleado.email_empresarial}
				</td>
			</tr>
		</tbody>
	</table>
</div>