<el-dialog
	title="Agregar participante externo"
	:visible.sync="modal_external.status"
	:before-close="handleModalCloseExternal"
	class="ModalExternal"
	>
		<form name="frm-external-member">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group">
		  				<label 
		  					class="form-label">
		  					Nombres
		  				</label>
		  				<input 
							type="text" 
							class="form-control form-control-sm p-2" 
							v-model = "modal_external.data.nombres"
							name="nombres"
							placeholder="Ingrese nombres" 
							@blur="handleBlur"
							autocomplete="off" 
							>
						<div v-if="hasError('nombres')"
					    	class="alert alert-danger" 
					    	role="alert">Completar el campo</div>
		  			</div>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group">
		  				<label 
		  					class="form-label">
		  					Email
		  				</label>
		  				<input 
							type="text" 
							class="form-control form-control-sm p-2" 
							v-model = "modal_external.data.email"
							name="email"
							placeholder="Ingrese email" 
							@blur="handleBlur"
							autocomplete="off" 
							>
						<div v-if="hasError('email')"
					    	class="alert alert-danger" 
					    	role="alert">Completar el campo</div>
		  			</div>
				</div>
				
			</div>
			<span slot="footer" class="dialog-footer">
				<el-button 
					size="small" 
					@click.prevent="handleModalCloseExternal">
					Cancelar
				</el-button>
				<el-button 
					size="small" 
					type="primary" @click.prevent="handleModalSubmitExternal">
					Continuar
				</el-button>
			</span>
		</form>
</el-dialog>