<form name="frm-reservas-feriado">
	<div class="Fields">
		<div class="col-md-12">
			<div class="form-group">
				<label class="form-label" for="">Fecha</label>
				<el-date-picker
				      v-model="fecha"
				      type="date"
				      placeholder="Seleccione Fecha"
				      format="dd/MM/yyyy"
				      value-format="yyyy-MM-dd">
			    </el-date-picker>
			</div>	
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label class="form-label" for="">Descripción</label>
				<input type="text" 
					class="form-control"
					v-model="descripcion">
			</div>	
		</div>
		<div class="col-md-12">
				<div class="form-group">
					<label class="form-label" for="">Estado</label>
					<el-select v-model="estado" 
						placeholder="Seleccione"
						
						filterable
						clearable>
					    <el-option
					      v-for="item in list.list_estados"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
				</div>
			</div>
		<div class="col-md-12">
			<button class="btn btn-primary" 
				@click.prevent="confirmDialog" title="Guardar Datos">
				<i class="fas fa-save"></i>
				Guardar
			</button>
			<button class="btn btn-danger" 
				@click.prevent="closeDialog" title="Cancelar Operación">
				<i class="fas fa-ban"></i>
				Cancelar
			</button>
		</div>
	</div>
</form>