
<el-dialog
	title="Disponibilidad de Calendario"
	:visible.sync="modal.status"
	:before-close="handleModalClose">
		<form>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-5 col-lg-4">
					<div class="form-group">
		  				<label 
		  					class="form-label">
		  					Fecha
		  				</label>
		  				<el-date-picker
						      v-model="modal.data.fecha_busqueda"
						      type="date"
						      placeholder="Seleccione Fecha"
						      format="dd/MM/yyyy"
						      value-format="yyyy-MM-dd"
							  name="fecha_busqueda"
							  size="small"
						      >
					    </el-date-picker>
		  			</div>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 el-sala">
					<div class="form-group">
		  				<label 
		  					class="form-label">
		  					Sala
		  				</label>
		  				<el-select v-model="modal.data.sala" 
							placeholder="Seleccione"
							filterable
							clearable
							name="sala"
							multiple
	    					collapse-tags
	    					size="small"
							>
						    <el-option
						      v-for="item in list.list_salas_allow"
						      :key="item.id"
						      :label="item.value"
						      :value="item.id">
						    </el-option>
						</el-select>
						<button 
							@click.prevent="handleModalSearch"
							class="btn btn-success ml-2"
							title="Buscar"
							:disabled="modal.data.button_status || list.list_salas.length==0" 
							>
							<i class="fas fa-search"></i>
						</button>
		  			</div>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12">
					<span class="alert alert-danger" 
						v-if="modal.data.holiday_status">
						La fecha seleccionada no se encuentra disponible para la realizaci&oacuten de reservas.
					</span>
				</div>
			</div>
			<div class="row layerSchedule">
				<!-- <div 
					class="col-6 col-sm-6 col-md-4 col-lg-4 schedule-list"
					v-for="(item,index) in modal.data.details"
					v-bind:class="StyleRowStatus(index,item)"
					@click.prevent="handleModalSelectItem(item)"
					:title="item.reserva_id?'Reservada':'Disponible'"
					v-if="modal.data.details.length>0">

					<i class="far fa-clock px-2" v-if="!item.reserva_id"></i>
					<i class="fas fa-thumbtack px-2" v-if="item.reserva_id"></i>
					<el-checkbox v-model="item.check" v-if="!item.reserva_id">
						${item.time_value}
					</el-checkbox>
					<label v-else="">
						${item.time_value}
						( ${item.solicitante}, Participantes: ${item.nparticipantes})
					</label>
				</div>

				<div class="col-12 col-sm-12 col-md-12 col-lg-12 schedule-empty" v-if="modal.data.details.length==0">
					<i class="far fa-calendar-times"></i>
				</div> -->
				<table 
					class="table table-hover" 
					v-if="modal.data.details.headers">
					<thead>
						<tr>
							<th v-for="header in modal.data.details.headers" >
								${header["descripcion"]}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(r,rindex) in modal.data.details.schedules">
							<td 
								v-for="(c,cindex) in modal.data.details.headers" 
								v-bind:class="StyleRowStatus(c.id,rindex)"
								:title="TitleRowStatus(c.id,rindex)"
								@mousedown.prevent="handleMouseDown(c.id,rindex)" 
								@mousemove.prevent="handleMouseMove(c.id,rindex)"
								@mouseup.prevent="handleMouseUp(c.id,rindex)"
								>
								<label v-if="c.id==0">
									${modal.data.details.schedules[rindex].time_value}
								</label>
								<label 
									v-if="c.id!=0 && !modal.data.details.rows[c.id][rindex].reserva_id"
									class="item-info">
									${c.planta.descripcion}, Capacidad : ${c.limite_participantes}
								</label>
								<label class="item-responsable" 
									v-if="c.id!=0 && modal.data.details.rows[c.id][rindex].reserva_id" >
									<i class="fas fa-user-tie"></i>
									${modal.data.details.rows[c.id][rindex].solicitante}
								</label>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 schedule-empty" v-if="modal.data.details.length==0">
					<i class="far fa-calendar-times"></i>
				</div> 
			</div>
			<span slot="footer" class="dialog-footer">
				<el-button @click.prevent="handleModalClose">
					Cancelar
				</el-button>
				<el-button type="primary" @click.prevent="handleModalSubmit">
					Continuar
				</el-button>
			</span>
		</form>
</el-dialog>