

@import 'nib'

body
	#container-user.layer-login
		margin  4% auto 0 auto 
	
@media screen and (max-width: 640px)
	body
		#container-user.layer-login
			margin  8% auto !important
			
@media screen and (max-width: 980px)
	body
		#container-user.layer-login
			margin  7% auto
			
@media screen and (max-width: 1200px)
	body
		#container-user.layer-login
			margin  5% auto