@import 'nib'

color-white = rgba(255,255,255,1)
color-black = rgba(0,0,0,1)
bg-login = url('../../images/img_bgdesktop.jpg')
// bg-logo = url('../../images/img_logo.jpg')
bg-logo = url('../../images/img_logo_login.png')

@font-face
  font-family: 'Shrikhand';
  src: url('../../fonts/Shrikhand-Regular.ttf'); /* IE9 Compat Modes */
  src: url('../../fonts/Shrikhand-Regular.ttf') format('truetype')

html, body
	font-size 14px
	box-sizing border-box
	
body
	.layer_bg
		position fixed
		left 0px
		top 0px
		width 100%
		height 100%
		z-index -3
		.layer-foreground,
		.layer-background
			position absolute
			top 0px
			left 0px
			width 100%
			height 100%
		.layer-foreground
			background-color yellowgreen
			opacity 0.1
		.layer-background		
			padding 0px
			margin 0px
			z-index -2
			img
				width 100%
				height 100%
	footer
		transition 0.5s font-size ease-in-out
		display block
		position fixed
		bottom 0.3rem
		left 0px
		width 100%
		text-align center
		color color-white
		font-size 1rem
		text-shadow 2px 2px 4px black
			
.alert
	font-weight bold
	font-size 0.8rem
	padding 0.1rem 0.5rem
	margin-top 0.2rem
	margin-bottom 0.1rem

@media screen and (max-width: 640px)
	body
		footer
			font-size 0.8rem