
@font-face
  font-family: 'Anton';
  src: url('../../fonts/Anton-Regular.ttf'); /* IE9 Compat Modes */
  src: url('../../fonts/Anton-Regular.ttf') format('truetype')



.layerHeader, 
.layerBody
	margin-left 0
.layerHeader
	position relative
	padding 1rem
	background-color rgba(176,65,62,1)
	color  rgba(255,255,255,1)
	h2
		font-family 'Anton', sans-serif
		padding-left 0.8reml
		font-size 2rem
		text-shadow 1px 1px black
		letter-spacing 0.2rem
	i
		position absolute
		font-size 2.5rem
		right 3rem
.layerBody
	article
		background-color silver
		padding 1.5rem
		h3
		p
			font-weight bold

footer
	margin-top 0.5rem
	padding 0.5rem 2rem
	background-color silver
	span
		text-align center
		display block
		font-size 1rem
		