@import 'nib'
@import 'login_main'

body	
	.layer-login
		transition 0.5s all ease-in-out
		width 50%
		max-width 100%
		height auto
		display block
		margin  10% auto
		overflow hidden
		box-shadow 1px 1px 1px 2px rgba(0,16,128,0.3)
			
		.login-logo, .login-inputs
				width 50%
				float left
				height 25rem
		.login-inputs
			transition 1s height ease-in-out
			padding 1.78571428571rem
			padding-top 4rem
			background-color rgba(0,23,45,0.7)
			.row
				div[class^="col-"]
					padding-left 0px
					padding-right 0px
					.form-group
						.forgotPasswd
							transition 0.5s all ease-in-out
							transform scale(1)
							color silver
							float right
							text-decoration none
							&:hover
								transform scale(1.1)
								font-weight bold
								color white
						label
							color color-white
							font-weight bold
						input[type="text"], input[type="password"]
							transition 0.5s background-color ease-in-out
							padding 9px
							color color-white
							background-color rgba(0,0,0,0.2)
							border none
							&:focus
								box-shadow none
								// background-color rgba(79,79,80,1)
								background-color rgba(0,0,0,0.7)
								
				
				wbtcolor = rgba(69,55,93,1)
				wbtcolor-hover = rgba(49,33,75,1)
				button
					transition 0.2s all ease-in-out
					padding 0.8rem
					font-weight bold
					color color-white
					background-color wbtcolor
					border 1px solid wbtcolor
					&:hover
						background-color wbtcolor-hover
				.login-loader
					margin 1rem auto
					img
						text-align center
						height auto
						width 50px
							
		.login-logo
			position relative
			.logo-bg
				display block
				width 100%
				height 100%
				background-image radial-gradient(circle, #fff 62%, #2482dc 146%);
				opacity 0.9
			.logo-img
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				background-image bg-logo
				background-repeat no-repeat
				background-size auto
				background-position center

@media screen and (max-width: 640px)
	body
		.layer-login
			background transparent
			.login-logo, .login-inputs
				display block
				width 100%
			.login-logo
				transition 1s all ease-in-out
				height 200px
			.login-inputs
				height auto
			

@media screen and (max-width: 980px)
	body
		.layer-login
			margin  6% auto !important
			width 80% !important
			
@media screen and (max-width: 1200px)
	body
		.layer-login
			margin  8% auto
			width 60%