
@import 'nib'
@import 'login_main'

body
	#container-user.layer-login
		transition 0.5s all ease-in-out
		width 30%
		// max-width 100%
		height auto
		display block
		margin  8% auto 0 auto
		overflow hidden
		box-shadow 1px 1px 1px 2px rgba(0,16,128,0.3)
		.login-inputs
			width 100%
			transition 1s height ease-in-out
			padding 1.78571428571rem
			// background-color rgba(12,12,13,0.8)
			background-color rgba(0,23,45,0.7)
			.row
				div[class^="col-"]
					padding-left 0px
					padding-right 0px
					.form-group
						.urlBack
							transition 0.5s all ease-in-out
							transform scale(1)
							color silver
							float right
							text-decoration none
							&:hover
								transform scale(1.1)
								font-weight bold
								color white
						label
							color color-white
							font-weight bold
						input[type="text"]
							transition 0.5s background-color ease-in-out
							padding 9px
							color color-white
							background-color rgba(0,0,0,0.2)
							border none
							&:focus
								box-shadow none
								background-color rgba(79,79,80,1)
								
				
				wbtcolor = rgba(69,55,93,1)
				wbtcolor-hover = rgba(49,33,75,1)
				button
					transition 0.2s all ease-in-out
					padding 0.8rem
					font-weight bold
					color color-white
					background-color wbtcolor
					border 1px solid wbtcolor
					&:hover
						background-color wbtcolor-hover
					label
						&:hover
							cursor pointer
				.login-loader
					img
						text-align center
						height auto
						width 25px
				.backLoginPage
					margin-top 0.5rem
					transition 0.5s all ease-in-out
					text-decoration none
					color silver
					transform scale(0.9)
					&:hover
						transform scale(1)
						font-weight bold
						color white
							
		.login-logo
			position relative
			height 14rem
			.logo-bg
				display block
				width 100%
				height 100%
				background-image radial-gradient(circle, #fff 62%, #2482dc 146%);
				opacity 0.9
			.logo-img
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				background-image bg-logo
				background-repeat no-repeat
				background-size auto
				background-position center
				
div
	margin-bottom 0.2rem
	.alert.advice
		font-size 0.9rem

@media screen and (max-width: 640px)
	body
		#container-user.layer-login
			margin  20% auto !important
			width 90% !important
			.login-logo
				&::after
					font-size 2.5rem
			
@media screen and (max-width: 980px)
	body
		#container-user.layer-login
			margin  17% auto
			width 65%
			
@media screen and (max-width: 1200px)
	body
		#container-user.layer-login
			margin  10% auto
			width 45%