
<div class="layerModalFields" v-bind:class="{visible:dialog_status}">
	<form name="frm-meta-user">
		{% include 'grants/forms/buttons/buttons_usuario.html' %}
		<div class="row">
			<h2>Datos Generales</h2>
			<div class="col-12 col-sm-12 col-md-6 col-lg-4">
				<div class="form-group">
					<label for="" 
					class="form-label pr-2">ID Usuario</label>
					<input 
						type="text" 
						class="form-control p-2"  
						v-model = "form.username"
						name="username"
						placeholder="Ingrese ID Usuario" 
						:disabled="form.id!=null?true:false" 
						@blur="handleBlur"
						autocomplete="off" 
						>
				</div>	
				<div v-if="hasError('username')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-4">
				<div class="form-group">
					<label for="" 
					class="form-label pr-2">Contraseña</label>
					<input 
						type="password" 
						class="form-control p-2"  
						v-model = "form.password"
						name="password"
						placeholder="Ingrese Contraseña" 
						
						autocomplete="off" 
						>
				</div>	
				<div v-if="hasError('password')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-4">
				<div class="form-group">
					<label for="" 
					class="form-label pr-2">Nombres</label>
					<input 
						type="text" 
						class="form-control p-2"  
						v-model = "form.first_name"
						name="first_name"
						placeholder="Ingrese nombres" 
						@blur="handleBlur"
						autocomplete="off" 
						>
				</div>	
				<div v-if="hasError('first_name')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-4">
				<div class="form-group">
					<label for="" 
					class="form-label pr-2">Apellidos</label>
					<input 
						type="text" 
						class="form-control p-2"  
						v-model = "form.last_name"
						name="last_name"
						placeholder="Ingrese apellidos" 
						@blur="handleBlur"
						autocomplete="off" 
						>
				</div>	
				<div v-if="hasError('last_name')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-4">
				<div class="form-group">
					<label for="" 
					class="form-label pr-2">Documento</label>
					<input 
						type="text" 
						class="form-control p-2"  
						v-model = "form.dni"
						name="dni"
						placeholder="Ingrese documento" 
						@blur="handleBlur"
						autocomplete="off" 
						>
				</div>	
				<div v-if="hasError('dni')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-4">
				<div class="form-group">
					<label for="" 
					class="form-label pr-2">Email</label>
					<input 
						type="text" 
						class="form-control p-2"  
						v-model = "form.email"
						name="email"
						placeholder="Ingrese email" 
						@blur="handleBlur"
						autocomplete="off" 
						>
				</div>	
				<div v-if="hasError('email')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>
			{%comment%}
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
					<div class="form-group">
						<label for="" class="form-label pr-2">
							Requiere Aprobaci&oacuten
						</label>
						<el-select v-model="form.requiere_aprobacion" 
							placeholder="Seleccione"
							filterable
							name="requiere_aprobacion"
							@blur="handleBlur"
							clearable>
						    <el-option
						      v-for="item in list.list_confirmacion"
						      :key="item.id"
						      :label="item.value"
						      :value="item.id">
						    </el-option>
						</el-select>
						<div v-if="hasError('requiere_aprobacion')"
				    	class="alert alert-danger" 
				    	role="alert">Completar el campo</div>
					</div>	
				</div>
			{%endcomment%}
			<div class="col-12 col-sm-12 col-md-3 col-lg-3">
				<div class="form-group">
					<label for="" class="form-label pr-2">Estado</label>
					<el-select v-model="form.estado" 
						placeholder="Seleccione"
						filterable
						name="estado"
						@blur="handleBlur"
						clearable>
					    <el-option
					      v-for="item in list.list_estados"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
					<div v-if="hasError('estado')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
				</div>	
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3">
				<div class="form-group">
					<label for="" class="form-label pr-2">Empleado</label>
					<el-autocomplete  
						v-model="form.empleado.value" 
						:fetch-suggestions="searchParticipante"
						name="empleado"
						placeholder="Ingrese empleado" 
						:trigger-on-focus="false" 
						@select="selectParticipante">
					</el-autocomplete>
					<div v-if="hasError('empleado')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
				</div>	
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-2">
				<div class="form-group">
					<label for="" class="form-label pr-2">
						Visualizar todas reservas
					</label>
					<el-select v-model="form.all_bookings" 
						placeholder="Seleccione"
						filterable
						name="all_bookings"
						@blur="handleBlur"
						clearable>
					    <el-option
					      v-for="item in list.list_confirmacion"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
					<div v-if="hasError('all_bookings')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
				</div>	
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-2">
				<div class="form-group">
					<label for="" class="form-label pr-2">
						Visualizar todas salas
					</label>
					<el-select v-model="form.all_salas" 
						placeholder="Seleccione"
						filterable
						name="all_salas"
						@blur="handleBlur"
						clearable>
					    <el-option
					      v-for="item in list.list_confirmacion"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
					<div v-if="hasError('all_salas')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
				</div>	
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-2">
				<div class="form-group">
					<label for="" class="form-label pr-2">
						Solicitar cambio de clave
					</label>
					<el-select v-model="form.is_new" 
						placeholder="Seleccione"
						filterable
						name="is_new"
						@blur="handleBlur"
						clearable>
					    <el-option
					      v-for="item in list.list_confirmacion"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
					<div v-if="hasError('is_new')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
				</div>	
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-12 col-sm-12 col-md-12 col-lg-6">
				<h2>Perfiles</h2>
				<div class="form-group">
					<el-transfer
						ref="elt_perfiles"
					    filterable
					    :filter-method="handleProfilesFilter"
					    :titles="['No asignados', 'Asignados']"
					    filter-placeholder="Buscar perfil"
					    v-model="form.perfiles"
					    :data="list.list_perfiles">
					  </el-transfer>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-6">
				<h2>Permisos</h2>
				<div class="form-group">
					<el-transfer
						ref="elt_permisos"
					    filterable
					    :filter-method="handleGrantsFilter"
					    :titles="['No asignados', 'Asignados']"
					    filter-placeholder="Buscar permiso"
					    v-model="form.accesos"
					    :data="list.list_accesos">
					  </el-transfer>
				</div>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-12 col-sm-12 col-md-12 col-lg-6">
				<h2>Salas</h2>
				<div class="form-group">
					<el-transfer
						ref="elt_salas"
					    filterable
					    :filter-method="handleSalasFilter"
					    :titles="['No asignados', 'Asignados']"
					    filter-placeholder="Buscar sala"
					    v-model="form.salas"
					    :data="list.list_salas">
					  </el-transfer>
				</div>
			</div>
		</div>

		{%comment%}
			<div class="row mt-2">
				<div class="col-12 col-sm-12 col-md-12 col-lg-6 ml-0">
					<h2>Marcas</h2>
					<div class="form-group">
						<el-transfer
							ref="elt_marcas"
						    filterable
						    :filter-method="handleMarcaFilter"
						    :titles="['No asignados', 'Asignados']"
						    filter-placeholder="Buscar marca"
						    v-model="form.marcas"
						    :data="list.list_marcas">
						</el-transfer>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-6 ml-0">
					<h2>Concesionarios</h2>
					<div class="form-group">
						<el-transfer
							ref="elt_concesionarios"
						    filterable
						    :filter-method="handleConcesionarioFilter"
						    :titles="['No asignados', 'Asignados']"
						    filter-placeholder="Buscar concesionario"
						    v-model="form.concesionarios"
						    :data="list.list_concesionarios">
						</el-transfer>
					</div>
				</div>
			</div>
		{%endcomment%}
		{% include 'grants/forms/buttons/buttons_usuario.html' %}
	</form>
</div>