<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		body {
			background-color:rgba(192,192,192,0.3);
			padding : 0px;
			margin : 0px;
			font: 14px;
		}

		.layer-title {
			display: block;
			width: 100%;
			background-color: rgba(82,124,162,0.9);
			color:rgba(255,255,255,1);
			border-radius: 2px
		}
		.layer-title tr td {
			padding : 5px 10px;
			font-size: 1.2rem;
			font-family: "Arial Black", Gadget, sans-serif;
		}
		.layer-body {
			
		}
		.layer-body tr th {
			padding : 3px 10px;
			font-size: 1rem;
			font-weight: bold;
			font-family: Arial, Helvetica, sans-serif;
			color:white;
			background-color: black;
		}

		.layer-body tr td {
			padding : 0 10px;
			font-size: 0.8rem;
			font-weight: normal;
			font-family: Arial, Helvetica, sans-serif;
		}
		.layer-footer {
			border-collapse: collapse;
			width: 100%;
			border-bottom: 1px solid silver;
			box-shadow: 2px 1px 1px rgba(82,124,162,0.9);
		}
		.layer-footer tr td {
			padding : 10px;
			font-size: 0.7rem;
			font-weight: normal;
			font-family: Arial, Helvetica, sans-serif;	
			text-align: center;
			color : rgba(82,124,162,0.9);
		}

		.layer-buttons td {
			text-align: center;
			border: 1px solid silver;
			margin: 0 10px ;
			background-color: black;
		}
		.layer-buttons td a {
			color: white;
			font-size: 15px;
			font-weight: bold;
			text-decoration: none;
		}
	</style>
</head>
<body style="background-color:rgba(192,192,192,0.3); padding : 0px; margin : 0px; font: 14px;">
	<table class="layer-title" style="display: block; width: 100%; background-color: rgba(82,124,162,0.9); color:rgba(255,255,255,1); border-radius: 2px;">
		<tr>
			<td style="padding : 5px 10px; font-size: 1.2rem; font-family: "Arial Black", Gadget, sans-serif;">
				Estimado Sr.(a) {{content.parent.empleado.nombres}} {{content.parent.empleado.apellidos}}
			</td>
		</tr>
	</table>
	<table class="layer-body">
		<tr>
			<td 
				style="padding : 10px; font-size: 0.8rem; font-weight: normal; font-family: Arial, Helvetica, sans-serif;">
				El presente es un email de confirmacion para la reunión solicitada por :
			</td>
		</tr>
		<tr>
			<td><b>Solicitante :</b> {{email.email_empresarial}}</td>
		</tr>
		<tr>
			<td><b>Sala :</b> {{content.parent.sala.descripcion}}, {{content.parent.planta.descripcion}}</td>
		</tr>
		<tr>
			<td style="padding-bottom : 10px;">
				<b>Fecha Reunión :</b> {{content.parent.fecha_evento}} {{content.parent.hora_inicio}} - {{content.parent.hora_final}}
			</td>
		</tr>
		<tr></tr>
		<tr>
			<td style="padding-bottom : 10px;">
				Estariamos completamente agradecidos con la confirmación del presente con la finalidad de determinar la disponibilidad de la sala de reuniones, favor de proceder con alguna de las siguientes acciones :
			</td>
		</tr>
		<tr></tr>
		<tr>
			<td>
				<table>
					<tr class="layer-buttons">
						<td style="padding : 5px 10px;">
							<a href="{{content.site_url}}{{content.parent.urls.accept}}">Aceptar</a>
						</td>
						<td style="padding : 5px 10px;">
							<a href="{{content.site_url}}{{content.parent.urls.reject}}">Rechazar</a>
						</td>
						<td style="padding : 5px 10px;">
							<a href="{{content.site_url}}{{content.parent.urls.anticipation}}">Cierre Anticipado</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<br>
	<table class="layer-body">
		<tr><td>Atte</td></tr>
		<tr><td><b>Web Salas</b></td></tr>
	</table>
	{% include 'mail/footer/mail_footer.html' %}

</body>
</html>