
<html>
<head>
	<title></title>
	<style type="text/css">
		body {
			background-color:rgba(192,192,192,0.3);
			padding : 0px;
			margin : 0px;
			font: 14px;
		}

		.layer-title {
			display: block;
			width: 100%;
			background-color: rgba(82,124,162,0.9);
			color:rgba(255,255,255,1);
			border-radius: 2px
		}
		.layer-title tr td {
			padding : 5px 10px;
			font-size: 1.2rem;
			font-family: "Arial Black", Gadget, sans-serif;
		}
		.layer-body {
			
		}
		.layer-body tr td {
			padding : 10px;
			font-size: 0.8rem;
			font-weight: normal;
			font-family: Arial, Helvetica, sans-serif;
		}
		.layer-footer {
			border-collapse: collapse;
			width: 100%;
			border-bottom: 1px solid silver;
			box-shadow: 2px 1px 1px rgba(82,124,162,0.9);
		}
		.layer-footer tr td {
			padding : 10px;
			font-size: 0.7rem;
			font-weight: normal;
			font-family: Arial, Helvetica, sans-serif;	
			text-align: center;
			color : rgba(82,124,162,0.9);
		}
	</style>
</head>
<body style="background-color:rgba(192,192,192,0.3); padding : 0px; margin : 0px; font: 14px;">
	<table class="layer-title" style="display: block; width: 100%; background-color: rgba(82,124,162,0.9); color:rgba(255,255,255,1); border-radius: 2px;">
		<tr>
			<td style="padding : 5px 10px; font-size: 1.2rem; font-family: "Arial Black", Gadget, sans-serif;">
				{{content_header}} 
			</td>
		</tr>
	</table>
	<table class="layer-body">
		<tr>
			<td style="padding : 10px; font-size: 0.8rem; font-weight: normal; font-family: Arial, Helvetica, sans-serif;">
				{{content_body}}
			</td>
		</tr>
	</table>
	{% include 'mail/footer/mail_footer.html' %}
</body>
</html>