
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}
	<link rel="stylesheet" 
		href="{% static '/js/unpkg.com/element-ui@2.4.2/lib/theme-chalk/index.css' %}">
	<link rel="stylesheet" href="{% static '/css/grants/grants_usuarios.css' %}">	
{% endblock %}

{% block container %}
	<div class="layerTitle">
		<h3>Modulo {{title}} </h3>
	</div>
	<div class="layerData" id="vContainer" 
		v-bind:class="{visible:visible_status}">
		<template>
			<div class="layerFields">
				{% include 'grants/filters/filter_usuarios.html' %}
			</div>
			<div class="layerTable">
				{% include 'grants/tables/table_usuarios.html' %}
			</div>
			<div class="pager">
			  <el-pagination
			    :page-size="list.page.page_size"
			    :pager-count="list.page.page_count"
			    :current-page="list.page.page_current"
			    layout="prev, pager, next"
			    @current-change="handleChangePage"
			    :total="list.page.page_total">
			  </el-pagination>
			</div>
			<div class="summary">
				<div>
					<span>Total Registros :</span>
					<label>${totales.filas}</label>
				</div>
			</div>
		</template>
	</div>
	<div id="vModal">
		<template>
			{% include 'grants/forms/form_usuarios.html' %}
		</template>
	</div>
{% endblock %}

{% block additionaljs %}

	<script type="text/javascript">
		
		const URI_HOME = window.location.pathname ;
		const URI_ESTADO = "{% url 'apiv1:metas_obtener_estados' %}"
		const URI_EMPLEADOS = "{% url 'apiv1:metas_obtener_empleados' %}"
		
		const URI_REMOVE = "{% url 'grants:users_remove' %}"
		const URI_UPDATE = "{% url 'grants:users_update' %}"
		const URI_APPEND = "{% url 'grants:users_append' %}"
		const URI_GRANTS = "{% url 'apiv1:catalogos_obtener_usuario_permisos' %}"
	</script>
	<script src="{% static '/js/grants/grants_usuarios.js' %}"></script>
	
{% endblock %}