
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}
	

	{% if request.resolver_match.view_name == 'grants:profile_main' %}
		 <link rel="stylesheet" 
		 	href="{% static '/css/grants/grants_perfil.css' %}">
	{% endif %}
{% endblock %}

{% block container %}
	<div class="layerTitle">
		<h3>Modulo {{title}} </h3>
	</div>
	<div class="layerData" id="vContainer">
		<template>
			<div class="layerFields">
				
				{% if request.resolver_match.view_name == 'grants:profile_main' %}
					{% include 'grants/filters/filter_perfil.html' %}
				{% endif %}
			</div>
			<div class="layerTable">
			
				{% if request.resolver_match.view_name == 'grants:profile_main' %}
					{% include 'grants/tables/table_perfil.html' %}
				{% endif %}
			</div>
			{%  if request.resolver_match.view_name == 'grants:profile_main' %}
				<div class="pager">
				  <el-pagination
				    :page-size="list.page.page_size"
				    :pager-count="list.page.page_count"
				    :current-page="list.page.page_current"
				    layout="prev, pager, next"
				    @current-change="handleChangePage"
				    :total="list.page.page_total">
				  </el-pagination>
				</div>
			{% endif %}
			<div class="summary">
				<div>
					<span>Total Registros :</span>
					<label>${totales.filas}</label>
				</div>
			</div>
		</template>
	</div>
	<div id="vModal">
		<template>
			
			{% if request.resolver_match.view_name == 'grants:profile_main' %}
				{% include 'grants/forms/form_perfil.html' %}
			{% endif %}
		</template>
	</div>

{% endblock %}

{% block additionaljs %}
	
	<script type="text/javascript">
		const URI_HOME = window.location.pathname ;
		const URI_ESTADO = "{% url 'apiv1:metas_obtener_estados' %}"
		var visible_status = false;
	</script>
	
	
	{% if request.resolver_match.view_name == 'grants:profile_main' %}
		<script type="text/javascript">
			const URI_REMOVE = "{% url 'grants:profile_remove' %}" ;
			const URI_UPDATE = "{% url 'grants:profile_update' %}" ;
			const URI_APPEND = "{% url 'grants:profile_append' %}" ;
			const URI_GRANTS = "{% url 'apiv1:catalogos_obtener_perfil_permisos' %}"
		</script>
		<script src="{% static '/js/grants/grants_perfil.js' %}"></script>
	{% endif %}
{% endblock %}